#product-package {
  font-size: 14px;
  width: auto;
  min-width: 450px;
  border: 1px solid #CCCCCC;
  border-collapse: collapse;


  td {
    padding-left: 5px;
    padding-right: 5px;
  }
  thead td {
    font-weight: bold;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;

  }
  .even {
    background: #FFFFFF;
  }
  .odd {
    background: #E4EEF7;
  }

  input[type="text"] {
      font-size: 14px;
      background-color: aliceblue;
      width: 90px;
  }

  input[type="number"] {
    width: 50px;
  }

  input[type="button"] {
    text-decoration: none;
    color: #f4f4f4;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    background: #003A88;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    margin: 15px 0;
    &:hover{
      color : #ffffff;
    }
  }

  .right{
      text-align:  right;
  }
  .bold{
    font-weight:  bold;
  }
  .cs_name, .cs_price {
    margin-top: 20px;
    display: block;
  }
  .package_product_name {
    width: 252px;
    display: table;
  }
  .price_format {
      width: 100px;
      text-align: right;
      input {
          text-align: right;

      }

  }

}
.eredmeny_megjelenites {
   position: absolute;
   top: 10px;
   display: none;
   z-index: 2;
   border: 1px solid #ddeedd;
   background: #ffffff;
   padding: 22px;
   font-size: 13px;
   margin: auto;
   left: 0;
   right: 0;
   max-width: 83vw;
   -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.75);
   box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.75);
   max-height: 90vh;
   overflow-y: auto;

  .close_icon {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
    max-width: 22px;
  }
}


#termek_integracio {
  display: table;
  .termek_integracio:last-child {
    margin-right: 0;
  }
  .img_success {
    padding-left: 5px;
  }
  .termek_integracio {
    display: inline-block;
    margin-right: 20px;
    text-align: left;
    margin-top: 20px;
    background-color: #E4EEF7;
    border-radius: 5px;
    .fejlec {
      padding: 15px 0 0px 5px;
      height: 34px;
      width: 94%;
      display: inline-block;
    }
    .bezar {
      display: inline-block;
    }
    .img_nagyit {
      width:20px;
    }
    .img_close {
      width: 10px;
    }
    .img_close:hover{
      width: 13px;
    }
    .img_nagyit:hover {
      width: 24px;
    }
    .scrollbox  {
      height: 300px;
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
        display: inline-block;
      }
    }
    .nagyitott {
      height: 800px;
      transition: height 0.3s ease-out;
    }
    a {
      background: #ffffff;
      display: block;
      padding-top: 10px;
      text-decoration: none;
      overflow: hidden;

      .underline {
        text-decoration: underline;
        float: right;
      }
      .not_underline {
        text-decoration: none;
      }
    }

  }
  .termek_integracio:last-child {
    background-color: #0E5381;
    .fejlec {
      color: #ffffff;
      font-weight: bold;
      padding-left: 10px;
    }
  }
}


.box-category {
  .img_lenyit, .img_bezar {
    float: right;
  }
  .fokategoria div {
    display: none;
  }
  .fokategoria div:first-child {
    display: block;
  }
}

#kategoria {
  .category_sor:hover {
    background: #dddddd;
  }
  div {
    padding: 1px;
  }
  .termek_integracio input[name=hozzaad_model] {
    width: 50px;
  }
}

.termek_integracio_levalogatas {
  input[name="name"] {
    width: 250px;
    font-size: 15px;
  }
  .osszes {
    padding-right: 20px;
  }
  .torlese {
    padding-right: 5px;
  }
  .underline.torlese.valogatott {
    padding-right: 19px;
  }
  .form.levalogatas td{
    background: #F2F2F2;
  }
  input[type="number"] {
    width: 50px;
  }
}
#engedelyezett_integraciok.scrollbox {
  max-height: 190px;
}



