<?php if(!empty($kiszereles_ar) && $kiszereles_ar) { ?>
    <div class="kiszereles-panel">
        <div class="kiszereles-felirat"><?php echo $text_unit_price; ?></div>
        <div class="kiszereles-egysegar"><?php echo $kiszereles_ar; ?></div>
    </div>
<?php } ?>