<?php if ($szallitasi_koltseg) { ?>
    <div class="szallitas">
        <a class="infofancy fancybox.ajax"
           href="<?php echo $this->url->link('information/information/info', 'information_id=' . $beallitas_termek_aloldal['informacios_id_szall']);?>"
           alt="<?php echo $text_szallitas  ;?>">
           <span><?php echo $text_szallitas  ;?></span> <span><?php echo $szallitasi_koltseg ?></span>
           <?php echo (!empty($beallitas_termek_aloldal['plus_afa']) && $beallitas_termek_aloldal['plus_afa']) ? $text_plus_afa : '' ; ?>
        </a>
    </div>
<?php } ?>