<?php if ($options) { ?>


    <style>

        .meret_oszlop tr:hover{
            background: #D7E4DE;
        }

        .meret_oszlop tr td .szinezodik {
            border-bottom: 1px solid #eee;
            border-top: 1px solid #aaa;
            border-left: 1px solid #aaa;
            border-right: 1px solid #eee;
            background: #f7f7f7;
        }

        .szurke {
            background: #f7f7f7;
        }

        .feher {
            background: #ffffff;
        }

        .meret {
           width: 40%;
        }
        .meret_oszlop  {
            width: 100%;
        }

        .meret_oszlop td {
            padding: 0 2px;
            text-align: right;
            border: 1px solid #d4d4d4;
            width: <?php echo round(66/count($options_meret))?>%;
            margin-bottom: 0;
        }

        .meret_oszlop td.szin_kod_nev {
            font-size: 0;
            text-align: left;
            padding: 0;
            vertical-align: initial;
            width: 23%;
            border-left: none;
            height: 22px;
            box-sizing: border-box;
        }

        .meret_oszlop .meret_sor td {
            background: #E7E7E7;
            border-left-color: #e7e7e7;
            border-right-color: #fff;
        }

        .meret_oszlop .meret_input {
            width: 66%;
            border: 1px inset #ddd;
            text-align: right;
            padding: 1px 0px;
            margin: 0 0 2px;
            background: #fff;
        }

        .meret_oszlop .meret_input:active {
            background: #fff;
        }

        .meret_oszlop .meret_input:focus {
            background: #f9f9f9;
        }

        .product-info .options {
            padding: 0px 0px 10px 5px;
        }
        .ar_cella {
            margin: 1px 0 1px 1px;;
            display: block;
            margin-left: auto;
            cursor: pointer;
            font-size: 85%;
            border-bottom: 1px solid #aaa;
            border-top: 1px solid #eee;
            border-left: 1px solid #eee;
            border-right: 1px solid #bbb;
        }

        .ar_cella:hover {
            background-color: #f1f1f1;
        }

        .ar_cella:active {
            background-color: #f1f1f1;
            border-top: 1px solid #bbb;
            border-left: 1px solid #bbb;
            border-right: 1px solid #eee;
            border-bottom: 1px solid #eee;

        }

        .ar_cella .raktaron {
            margin: 0 0 0 4px;
        }

        .ar_cella .raktaron img {
            width: 18%;
            vertical-align: bottom;
            position: relative;
            top: -1px;
            max-width: 18px;
            margin-right: 1px;
        }
        .mennyiseggel {
            background: #E2E2E9;
        }

        #total {
            margin-top: 10px;
            display: table;
            margin-left: auto;
        }
        #total span {
            font-weight: bold;
            font-size: 16px;
            margin-left: 10px;
        }

        .product-info .options {
            border: none;
        }

        .szin_div, .szin_div_megnevezes {
            display: inline-block;
        }

        .szin_div {
            width: 19%;
            height: 100%;

        }
        .szin_div > div {
            width: 100%;
            font-size: 1px;
            display: table;
        }

        .szin_div_megnevezes {
            vertical-align: top;
            font-size: 13px;
            padding: 2px;
            width: 81%;
            text-align: center;
        }

        .meret_neve {
            font-size: 110%;
            margin-top: 6px;

        }
        .meret_leirasa {
            font-size: 80%;
            margin: 6px 0px;
        }

        .valasztott_hatterszin {
            background: #E0E4E6;
        }

        .option-info {
            display: table;
            padding-bottom: 5px;
            width: 100%;
        }

        .option-info > div {
            display: table-cell;
        }

        .option-info-netto {
            text-align: right;
        }

    </style>

    <script>




        function kosarMennyiseg(para){

            melyik = para;
            clearTimeout(szinezo);
            $('.meret_oszlop .ar_cella').removeClass('szinezodik');

            var nyithato =  ($(para).parent().parent().find('.ar_cella_input').css('display') == 'none') ? true : false;
            $(".meret_oszlop td").removeClass("valasztott_hatterszin");

            $('.ar_cella_input').slideUp('slow');
            if (nyithato) {
                $(para).parent().parent().find('.ar_cella_input').slideDown('slow',function(){
                    $(melyik).next().find('input').focus();
                });
                $(para).parent().parent().find("td").addClass("valasztott_hatterszin");
            }

        }



        function meretSzinCella(brutto,product_option_value_id,product_option_id,meret_key,quantity) {

            <?php
            if (file_exists(DIR_TEMPLATE . $this->config->get('config_template') . '/image/button_ok.gif')) {
                $ok = DIR_TEMPLATE_IMAGE. $this->config->get('config_template') . '/image/button_ok.gif';
            } else {
                $ok = DIR_TEMPLATE_IMAGE.'default/image/button_ok.gif';
            }

            if (file_exists(DIR_TEMPLATE . $this->config->get('config_template') . '/image/order_status.png')) {
                $nincs = DIR_TEMPLATE_IMAGE. $this->config->get('config_template') . '/image/order_status.png';
            } else {
                $nincs = DIR_TEMPLATE_IMAGE.'default/image/order_status.png';
            }

            ?>

            ertek = "";
            if ($("#opt-qty-"+product_option_value_id).length > 0) {
                var ertek = $("#opt-qty-"+product_option_value_id).val();
            }
            var html = '<div class="ar_cella" onclick="kosarMennyiseg(this)" >'+price_format(brutto);
                html += '<span class="raktaron">';
                    if (quantity > 0){
                        html += '<img src="<?php echo $ok?>" alt="" title="<?php echo $text_stock." ";?>'+quantity+'<?php echo $megyseg?>">';
                    } else {
                        html += '<img src="<?php echo $nincs?>" alt="" title="<?php echo $text_nincs_raktaron;?>" >';

                    }
                html += '</span>';
            html += '</div>';

            html += '<div style="text-align: right; display: none" class="ar_cella_input">';
                html += '<input type="text" value="'+ertek+'"';
                html += ' class="meret_input" id="opt-qty-'+product_option_value_id+'" oszlop="qty-'+meret_key+'"';
                html += ' price="'+brutto+'" ';
                html += ' product_option_id="'+product_option_id+'" ';
                html += ' product_option_value_id="'+product_option_value_id+'" ';
                html += ' oninput="kosarba(this); "';
                html += '/>';
                <?php if ($megyseg ) { ?>
                    html += '<span style="margin-left: 3px; font-size: 80%;">(<?php echo $megyseg?>)</span>';
                <?php } ?>
            html += '</div>';

            return html;

        }

    </script>


    <div class="options">
        <h2><?php echo $text_option; ?></h2>

        <?php if ($options_meret) { ?>
            <?php $mennyisegi = isset($discounts) && $discounts ? true : false;?>
            <div class="option-info">
                <div>
                    <?php if($product_info['szin_meret_szukseges'] == 1) { ?>
                        <span class="required">*</span>
                    <?php } ?>
                    <?php echo $text_select?>
                </div>
                <?php if(isset($megjelenit_kosar['netto_adat']) && $megjelenit_kosar['netto_adat'] == 1) { ?>
                    <div class="option-info-netto">
                        <?php echo $text_netto_ar; ?>
                    </div>
                <?php } ?>

            </div>
            <table class="meret_oszlop table"  cellspacing=0 cellpadding=0 style='border-collapse:collapse;border-spacing: inherit;'>
                <tr class="meret_sor"><td class="meret"></td>
                    <?php foreach ($options_meret as $meret_key => $meret ) { ?>
                        <?php $kulcs        = explode('|||',$meret_key);?>
                        <?php $meret_key    = $kulcs[0];?>
                        <?php $leiras       = isset($kulcs[1]) ? $kulcs[1] : '';?>

                        <?php $meret_neve = $meret_key?>

                        <?php $meret_key = str_replace(' ','_',$meret_key)?>
                        <?php $meret_key = str_replace('/','_',$meret_key)?>

                        <td class="<?php echo $meret_key?>" style="text-align: center">
                            <div class='meret_neve'><?php echo $meret_neve?></div>
                            <div class='meret_leirasa'><?php echo $leiras?></div>
                        </td>
                    <?php } ?>
                    <script>
                        $(".<?php echo $meret_key?>").css("border-right-color","#E7E7E7");
                    </script>
                </tr>

                <?php foreach ($options_meret as $meret_key => $ertek ) { ?>
                    <?php $kulcs        = explode('|||',$meret_key);?>
                    <?php $meret_key    = $kulcs[0];?>

                    <?php foreach ($ertek as $value ) { ?>


                        <?php $szin = str_replace('/','',trim($value['name']))?>
                        <?php $szin = str_replace('(','_',$szin)?>
                        <?php $szin = str_replace(')','_',$szin)?>

                        <?php $szin = str_replace(' ','_',$szin)?>

                        <script>
                            if ($("#<?php echo $szin?>").length < 1) {
                                var html  = '<tr id="<?php echo $szin?>">';
                                html += '<td class="<?php echo implode(' ',$value['heading']) ?> szin_kod_nev" >';
                                html += '<div class="szin_div" >';
                                    <?php if ($value['heading']) { ?>
                                        <?php foreach($value['heading'] as $szinkod) { ?>
                                            html += '<div style="background: #<?php echo trim($szinkod); ?>; color:#<?php echo trim($szinkod); ?>; height:<?php echo round(100/count($value['heading']),0)?>%;">.</div>';
                                        <?php } ?>
                                    <?php } ?>
                                html += '</div>';
                                <?php $pzicio = strpos($value['name'],"(");
                                    if ($pzicio) {
                                        $value['name'] = substr($value['name'],0,$pzicio);
                                    }

                                ?>
                                html += '<div class="szin_div_megnevezes" ><?php echo $value['name']?></div>';

                                html += '</td>';
                                <?php foreach ($options_meret as $key => $meret ) { ?>
                                    <?php $key = explode('|||',$key); ?>
                                    <?php $key = $key[0] ?>
                                    <?php $key = str_replace(' ','_',$key)?>
                                    <?php $key = str_replace('/','_',$key)?>
                                    html += '<td  class="<?php echo $key?> szurke"><span style="display:table; margin: 0 auto"></span></td>';
                                <?php } ?>

                                html += '</tr>';
                                debugger;

                                $('.meret_sor').after(html);
                            }

                            <?php if (isset($mennyisegi) && $mennyisegi) { ?>

                                <?php $van = false;?>

                                <?php foreach($discounts as $key=>$discount) { ?>

                                    <?php if ($cart_product_quantity == $discount['quantity']) { ?>
                                        <?php $van = $key;?>
                                        <?php break;?>

                                    <?php } elseif ($cart_product_quantity >= $discount['quantity']) { ?>
                                        <?php $van = $key;?>

                                    <?php } elseif ($cart_product_quantity < $discount['quantity'] ) { ?>
                                        <?php break; ?>
                                    <?php } ?>

                                <?php } ?>

                                <?php if ($van !== false) { ?>
                                    <?php $brutto_ar = ($special_value > (int)$discounts[$van]['price'] ? (int)$discounts[$van]['price'] : (int)$discounts[$van]['price'])+$value['price_value']; ?>
                                <?php } else { ?>
                                    <?php $brutto_ar = ($special_value ? $special_value : $price_value)+$value['price_value']; ?>
                                <?php } ?>

                            <?php } else { ?>
                                <?php if ($value['price_prefix'] == "-") { ?>
                                    <?php $brutto_ar = ($special_value ? $special_value : $price_value)-$value['price_value']; ?>
                                <?php } else { ?>
                                    <?php $brutto_ar = ($special_value ? $special_value : $price_value)+$value['price_value']; ?>
                                <?php } ?>

                            <?php } ?>

                            var html = meretSzinCella(<?php echo (int)$brutto_ar?>,"<?php echo $value['product_option_value_id']?>","<?php echo $value['product_option_id']?>","<?php echo $meret_key?>","<?php echo $value['quantity']?>");
                            <?php $meret_key = str_replace(' ','_',$meret_key)?>
                            <?php $meret_key = str_replace('/','_',$meret_key)?>
                            $('#<?php echo $szin; ?> .<?php echo $meret_key?>').html(html);
                            $('#<?php echo $szin; ?> .<?php echo $meret_key?>').removeClass('szurke');
                            $('#<?php echo $szin; ?> .<?php echo $meret_key?>').addClass('feher');

                        </script>

                    <?php } ?>
                <?php } ?>

                <tr style="height:30px;">
                    <td style="text-align:center; border:none;" > </td>

                    <?php foreach ($options_meret as $meret_key => $meret ) { ?>
                        <?php $kulcs        = explode('|||',$meret_key);?>
                        <?php $meret_key    = $kulcs[0];?>
                        <?php $meret_key = str_replace(' ','_',$meret_key)?>
                        <?php $meret_key = str_replace('/','_',$meret_key)?>

                        <td class="<?php echo $meret_key?>" style="text-align: right; border:none;">
                            <span id="result-qty-<?php echo $meret_key; ?>" class="oszlop_reszosszeg"> </span>
                        </td>
                    <?php } ?>
                </tr>


            </table>
            <div id="total" style="display: none"><?php echo $text_total?> <span></span> </div>

        <?php } ?>


        <script>



            function kosarba(para){

                var quantity = kalkOsszesen(para);

                fokusz = para;

                $('.mennyit_vasarol').remove();
                $('.cart').before('<input class="mennyit_vasarol" type="hidden"  id="product-quantity_<?php echo $product_id; ?>" name="quantity" size="2" value="'+quantity+'" />');

                <?php if (isset($mennyisegi) && $mennyisegi) { ?>

                    $.ajax({
                        url: 'index.php?route=module/cart/getProductQuantity',
                        type: 'post',
                        dataType: 'json',
                        data: 'product_id=<?php echo $product_id?>&quantity='+quantity,

                        complete: function(json) {

                        },
                        success: function(json) {
                            if(json['price']) {
                                <?php foreach ($options_meret as $meret_key => $ertek ) { ?>
                                    <?php $kulcs        = explode('|||',$meret_key);?>
                                    <?php $meret_key    = $kulcs[0];?>

                                    <?php foreach ($ertek as $value ) { ?>

                                        <?php $szin = str_replace('/','',$value['name'])?>
                                        <?php $szin = str_replace(' ','_',$szin)?>


                                        var html = meretSzinCella((json["price"]*1)+<?php echo (int)$value['price_value'];?>,"<?php echo $value['product_option_value_id']?>","<?php echo $value['product_option_id']?>","<?php echo $meret_key?>","<?php echo $value['quantity']?>");
                                        $('#<?php echo $szin; ?> .<?php echo $meret_key?>').html(html);


                                    <?php } ?>
                                <?php } ?>
                            }
                            var ujfokusz = fokusz.id;
                            $('#'+ujfokusz).focus();

                            /*a =$('#'+ujfokusz)[0];
                            $(a).trigger('click');*/
                            //setTimeout("rarak()",1000);

                        },
                        error: function(e) {
                            debugger;

                        }
                    });

                <?php } ?>
                //$('#opt-qty-60').focus();


            }

            function rarak() {
                $('#opt-qty-65').focus();
                var e = jQuery.Event("keydown");
                e.which = 39; // # Some key code value
                $("#opt-qty-65").trigger(e);




            }

            function kalkOsszesen(para) {

                if (typeof(para) == 'undefined') {
                    var quantity = 0;
                    $('.meret_input').each(function(){
                        var mennyiseg = (this.value*1);
                        quantity += mennyiseg;
                    });
                    return quantity;
                }

                if (para == -1) {

                    $('.meret_input').prop('value','');
                    $('.hidden_atkuld').remove();
                    $('.ar_cella').removeClass('mennyiseggel');
                    $('td').removeClass('valasztott_hatterszin');

                    $('.ar_cella_input').slideUp('slow');
                    $(".oszlop_reszosszeg").html('');
                    $('#total').hide();
                    return false;
                }


                var oszlop = $(para).attr('oszlop');

                var kosar = 0;
                var oszlop_mennyiseg = 0;
                $('input[oszlop="'+oszlop+'"]').each(function(){
                    var mennyiseg = this.value;
                    oszlop_mennyiseg += mennyiseg*1;
                    var ertek = $(this).attr('price');
                    kosar += mennyiseg*ertek;
                    if (mennyiseg > 0) {
                        $(this).parent().prev().addClass("mennyiseggel");
                    } else {
                        $(this).parent().prev().removeClass("mennyiseggel");
                    }

                });
                if (kosar > 0)
                    $('#result-'+oszlop).html("<span style='font-size:90%; color: #888'>("+(oszlop_mennyiseg*1)+") </span>" + "<span style='font-size: 90%'>"+price_format(kosar)+"</span>");
                else
                    $('#result-'+oszlop).html('');


                kosar = 0;
                var quantity = 0;
                $('.meret_input').each(function(){
                    var mennyiseg = (this.value*1);
                    quantity += mennyiseg;
                    var ertek = $(this).attr('price');
                    kosar += mennyiseg*ertek;
                });
                if (kosar) {
                    $('#total').show(500,function(){
                        $('#total span').html("<span style='font-size:90%; color: #888; font-weight: normal;'>("+(quantity*1)+") </span>" + "<span style='font-size: 100%'>"+price_format(kosar)+"</span>");
                    });
                } else {
                    $('#total').hide(500);
                }

                $('#option-value-'+para.attributes.product_option_value_id.value).remove();
                if (para.value > 0) {
                    html = '<input type="hidden" class="hidden_atkuld" ';
                    html += ' name="option['+para.attributes.product_option_id.value+'][]"';
                    html += ' value="'+para.attributes.product_option_value_id.value+'|'+ Number($(para).val())+ '"';
                    html += ' id="option-value-'+para.attributes.product_option_value_id.value+'"';
                    html += ' />';
                    $(para).before(html);
                }

                return quantity;
            }

            function getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }


            $(document).ready(function(){
                var i = 1;

                function myLoop () {
                    szinezo = setTimeout(function () {
                        var cellak = $('.meret_oszlop .ar_cella');
                        var aktualis_cella = cellak[getRandomInt(0, cellak.length)];
                        $(cellak).removeClass('szinezodik');
                        $(aktualis_cella).addClass('szinezodik');
                        i++;
                        if (i < cellak.length) {

                            myLoop();

                        } else {
                            i = 0;
                            myLoop();

                        }
                    }, 1000)
                }

                myLoop();

                $('.ar_cella').mouseenter(function(){
                    if (typeof(szinezo) == 'number') {
                        clearTimeout(szinezo);
                    }
                    $('.ar_cella').removeClass('szinezodik');
                });
            });
        </script>


        <?php foreach ($options as $option) { ?>

            <?php if ($option['type'] == 'select') { ?>
                <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                    <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                    <?php } ?>
                    <b><?php echo $option['name']; ?>:</b><br />
                    <select name="option[<?php echo $option['product_option_id']; ?>]">
                        <option value=""><?php echo $text_select; ?></option>
                        <?php foreach ($option['option_value'] as $option_value) { ?>
                            <option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                                <?php if ($option_value['price']) { ?>
                                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                                <?php } ?>
                            </option>
                        <?php } ?>
                    </select>
                </div>
                <br />
            <?php } ?>
            <?php if ($option['type'] == 'radio') { ?>
                <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                    <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                    <?php } ?>
                    <b><?php echo $option['name']; ?>:</b><br />
                    <?php foreach ($option['option_value'] as $option_value) { ?>
                        <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" id="option-value-<?php echo $option_value['product_option_value_id']; ?>" />
                        <label for="option-value-<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                            <?php if ($option_value['price']) { ?>
                                (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                            <?php } ?>
                        </label>
                        <br />
                    <?php } ?>
                </div>
                <br />
            <?php } ?>
            <?php if ($option['type'] == 'checkbox') { ?>
                <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                    <?php if ($option['required']) { ?>
                         <span class="required">*</span>
                    <?php } ?>
                    <b><?php echo $option['name']; ?>:</b><br />
                    <?php foreach ($option['option_value'] as $option_value) { ?>
                        <input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>][]" value="<?php echo $option_value['product_option_value_id']; ?>" id="option-value-<?php echo $option_value['product_option_value_id']; ?>" <?php echo (isset($option_value['checked']) && ($option_value['checked'])) ? 'checked' : ''; ?> />
                        <label for="option-value-<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                            <?php if ($option_value['price']) { ?>
                                (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                            <?php } ?>
                        </label>
                        <br />
                    <?php } ?>
                </div>
                <br />
            <?php } ?>
            <?php if ($option['type'] == 'image') { ?>
                <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                    <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                    <?php } ?>
                    <b><?php echo $option['name']; ?>:</b><br />
                    <table class="option-image">
                        <?php foreach ($option['option_value'] as $option_value) { ?>
                            <tr>
                                <td style="width: 1px;"><input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" id="option-value-<?php echo $option_value['product_option_value_id']; ?>" /></td>
                                <td><label for="option-value-<?php echo $option_value['product_option_value_id']; ?>"><img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" /></label></td>
                                <td><label for="option-value-<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                                        <?php if ($option_value['price']) { ?>
                                            (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                                        <?php } ?>
                                    </label></td>
                            </tr>
                        <?php } ?>
                    </table>
                </div>
                <br />
            <?php } ?>
            <?php if ($option['type'] == 'text') { ?>
                <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                    <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                    <?php } ?>
                    <b><?php echo $option['name']; ?>:</b><br />
                    <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['option_value']; ?>" />
                </div>
                <br />
            <?php } ?>
            <?php if ($option['type'] == 'textarea') { ?>
                <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                    <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                    <?php } ?>
                    <b><?php echo $option['name']; ?>:</b><br />
                    <textarea name="option[<?php echo $option['product_option_id']; ?>]" cols="40" rows="5"><?php echo $option['option_value']; ?></textarea>
                </div>
                <br />
            <?php } ?>
            <?php if ($option['type'] == 'file') { ?>
                <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                    <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                    <?php } ?>
                    <b><?php echo $option['name']; ?>:</b><br />
                    <a id="button-option-<?php echo $option['product_option_id']; ?>" class="button"><?php echo $button_upload; ?></a>
                    <input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value="" />
                </div>
                <br />
            <?php } ?>
            <?php if ($option['type'] == 'date') { ?>
                <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                    <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                    <?php } ?>
                    <b><?php echo $option['name']; ?>:</b><br />
                    <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['option_value']; ?>" class="date" />
                </div>
                <br />
            <?php } ?>
            <?php if ($option['type'] == 'datetime') { ?>
                <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                    <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                    <?php } ?>
                    <b><?php echo $option['name']; ?>:</b><br />
                    <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['option_value']; ?>" class="datetime" />
                </div>
                <br />
            <?php } ?>
            <?php if ($option['type'] == 'time') { ?>
                <div id="option-<?php echo $option['product_option_id']; ?>" class="option">
                    <?php if ($option['required']) { ?>
                        <span class="required">*</span>
                    <?php } ?>
                    <b><?php echo $option['name']; ?>:</b><br />
                    <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['option_value']; ?>" class="time" />
                </div>
                <br />
            <?php } ?>
        <?php } ?>


    </div>
<?php } ?>