<div class="pav-toolbar">
	<ul>
		<li><a href="<?php echo $dashboard_link;?>"><span class="icon-category"></span><span><?php echo $this->language->get('menu_dashboard')?></span></a></li>
		<li><a href="<?php echo $manage_category_link;?>"><span class="icon-addcategory"></span><span><?php echo $this->language->get('menu_manage_categories')?></span></a></li>
		
		<li><a href="<?php echo $manage_blog_link;?>"><span class="icon-blogs"></span><span><?php echo $this->language->get('menu_manage_blogs')?></span></a></li>
		<li><a href="<?php echo $add_blog_link;?>"><span class="icon-blog"></span><span><?php echo $this->language->get('menu_addblog')?></span></a></li>
		<li><a href="<?php echo $manage_comment_link;?>"><span class="icon-comment"></span><span><?php echo $this->language->get('menu_comment')?></span></a></li>
		<li><a href="<?php echo $modules_setting_link;?>"><span class="icon-modules"></span><span><?php echo $this->language->get('menu_module_setting')?></span></a></li>
		<li><a href="<?php echo $frontend_modules_link;?>"><span class="icon-front-modules"></span><span><?php echo $this->language->get('menu_frontend_module_setting')?></span></a></li>
		<!--<li><a href="<?php echo $information;?>"><span class="icon-information"></span><span><?php echo $this->language->get('menu_information')?></span></a></li>-->
	</ul>
</div>