<?php if ($error_warning) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } ?>
<?php if ($payment_methods) { ?>
<p><?php echo $text_payment_method; ?></p>
<table class="radio">
  <?php foreach ($payment_methods as $payment_method) { ?>
  <tr class="highlight">
    <!--<td><?php //if ($payment_method['code'] == $code || !$code) { ?>-->
    <td><?php if ($payment_method['code'] == $code ) { ?>
      <?php $code = $payment_method['code']; ?>
      <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" checked="checked" />
      <?php } else { ?>
      <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" />
      <?php } ?></td>
    <td><label for="<?php echo $payment_method['code']; ?>"><?php echo $payment_method['title']; ?></label></td>
  </tr>
  <?php } ?>
</table>
<br />
<?php } ?>
<b><?php echo $text_comments; ?></b>
<textarea name="comment" rows="8" style=""><?php echo $comment; ?></textarea>
<br />
<br />
<?php if ($text_agree ) { ?>
<div class="buttons">
  <div class="right"><?php echo $text_agree; ?>
    <?php if ($agree) { ?>
        <input class="agree" type="checkbox"  class="agree" name="agree" value="1" checked="checked" />
    <?php } else { ?>
        <input class="agree" type="checkbox"  class="agree" name="agree" value="1" />
    <?php } ?>
  </div>
</div>
<?php } else { ?>

<?php } ?>
<script type="text/javascript"><!--
/*$('.colorbox').colorbox({
	width: 560,
	height: 560
});*/

    $(document).ready(function() {
        if ($("input[name=payment_method]:checked").length == 0) {
            var pm_medod = $("input[name=payment_method]")[0];
            $(pm_medod).prop("checked",true);
        }
    });
//--></script> 