<div style="border: none; padding: 0px; top: -5px;">
    <?php if(isset($template['text_currency']) && $template['text_currency']) { ?>
        <div id="currency_text" class="penznem_title"><?php echo $text_currency; ?></div>
    <?php } ?>
    <?php echo $currency; ?>
</div>