<div class="fb-belepes">
    <a class="box-fbconnect-a" href="javascript:void(0);" id="fb-login"><?php if (isset($fbjsconnect_button)) { echo $fbjsconnect_button; } ?></a>
    <img src="catalog/view/theme/illobello/image/facebook.png"><span><?php echo $text_facebook_belep; ?></span>
</div>