<div class="icon_menu" onclick="megnyit('<?php echo $template['class_name']?>');">
    <?php if (!empty($template['icon']) ) { ?>
        <img src="<?php echo $template['icon']; ?>" />
    <?php } else { ?>
        <img src="catalog/view/theme/default/image/info_menu.png" />
    <?php } ?>
</div>