<p>
I, Romi Agar ("I", "Me"), grant You a revocable, non-transferable, non-exclusive license, without right to sub-license, to use this extension ("Product") in accordance with these Terms &amp; Conditions.</p>
<p>
By purchasing this product you agree to the following:</p>
<ul>
<li>You can use it for one website ONLY (sub-domains count as separate websites), unless stated otherwise by me or unless you have purchased a Developer License from me.</li>
<li>Reselling the product is NOT ALLOWED, unless you have written approval (or attached terms of use) obtained from me prior to the reselling.</li>
<li>Copyrights removal is NOT ALLOWED, unless you have written approval (or attached terms of use) obtained from me prior to the
removal.</li>
<li>You cannot claim the product as your own, please respect the effort and time spent to accomplish this work.</li>
</ul>
<h4>License</h4>
<p>All portions of the product are licensed under the appropriate GPL license of the parent platform. The non-compiled portions including
images, cascading style sheets and javascripts are in accordance with the rest of these Terms &amp; Conditions.</p>
<h4>Warranty</h4>
<p>I do not warrant nor guarantee that the product will meet your requirements or operate error free. I cannot guarantee that the product will function with 3rd party products. The product is provided "as is" without warranty of any kind, either expressed or implied. In no event shall I be liable for any damages including, but not limited to, direct, indirect, special, incidental or consequential damages or other losses arising out of the use of or inability to use the product.</p>
<h4>Ownership</h4>
<p>I reserve ownership of all intellectual property rights inherent in or relating to the product, which include, but are not limited to, all copyright, patent rights, all rights in relation to registered and unregistered trademarks (including service marks), confidential information (including trade secrets and know-how) and all rights other than those expressly granted by this Terms &amp; Conditions.</p>
<h4>Refund Policy</h4>
<p>Since I am offering non-tangible irrevocable digital goods, I do not issue refunds after the purchase, which you are responsible for understanding before buying a product.</p>
<br/>
<p>I reserve the right to change or modify these Terms &amp; Conditions at any time with no prior notice. Therefore, I encourage you to review the Terms &amp; Conditions every time you install or update the product.</p>
