<div class="box-product">
    <div>
        <?php if (file_exists(DIR_TEMPLATE . $this->config->get('config_template') . '/template/module/arkiiratas.tpl')) {
            $arkiir = DIR_TEMPLATE. $this->config->get('config_template') . '/template/module/arkiiratas.tpl';
        } else {
            $arkiir = DIR_TEMPLATE.'default/template/module/arkiiratas.tpl';
        } ?>
        <?php include($arkiir); ?>
    </div>
</div>