<div id="cart">
    <input type="hidden" name="text_success" value="<?php echo $text_success?>">

    <?php $megjelenit_product = $this->config->get('megjelenit_product')?>
  <div class="heading">
      <?php
      /* <a><img style="position:relative; top: 0px;" src="image/data/cart.png"></a>
          <a><?php echo $heading_title; ?></a>
          <a><?php echo $text_items; ?></a>
          <span style="display: none"><a class="responsive_darab_cart" ><?php echo $text_items_responsive; ?></a></span>
          <a><span></span></a> */
      ?>
      <?php
      $megjelenit_minicart_kosar = $this->config->get("megjelenit_minicart_kosar") ? $this->config->get("megjelenit_minicart_kosar") : 2 ;
      ?>

      <?php if (file_exists(DIR_TEMPLATE . $this->config->get('config_template') . '/image/cart.png')) {
          $cart_icon = DIR_TEMPLATE_IMAGE. $this->config->get('config_template') . '/image/cart.png';
      } else if (file_exists(DIR_TEMPLATE_IMAGE.'default/image/cart.png')) {
          $cart_icon = DIR_TEMPLATE_IMAGE.'default/image/cart.png';
      } else if(file_exists('image/data/cart.png')) {
          $cart_icon = 'image/data/cart.png';
      }?>

      <?php if($megjelenit_minicart_kosar == 0){ ?>
          <a><img style="position:relative; top: 0px;" src="<?php echo (isset($cart_icon) && $cart_icon) ? $cart_icon : ''; ?>"></a>
          <a><?php echo $heading_title; ?></a>
          <span style="display: none"><a class="responsive_darab_cart" ><?php echo $text_items_responsive; ?></a></span>
          <a><span></span></a>
      <?php } elseif($megjelenit_minicart_kosar == 1){?>
          <a><img style="position:relative; top: 0px;" src="<?php echo (isset($cart_icon) && $cart_icon) ? $cart_icon : ''; ?>"></a>
          <a><?php echo $text_items; ?></a>
          <span style="display: none"><a class="responsive_darab_cart" ><?php echo $text_items_responsive; ?></a></span>
          <a><span></span></a>
      <?php } elseif($megjelenit_minicart_kosar == 2){?>
          <a><img style="position:relative; top: 0px;" src="<?php echo (isset($cart_icon) && $cart_icon) ? $cart_icon : ''; ?>"></a>
          <a><?php echo $heading_title; ?></a>
          <a><?php echo $text_items; ?></a>
          <span style="display: none"><a class="responsive_darab_cart" ><?php echo $text_items_responsive; ?></a></span>
          <a><span></span></a>
      <?php } elseif($megjelenit_minicart_kosar == 3){?>
          <a><img style="position:relative; top: 0px;" src="<?php echo (isset($cart_icon) && $cart_icon) ? $cart_icon : ''; ?>"></a>
          <a><?php echo $text_items; ?></a>
          <a><?php echo $heading_title; ?></a>
          <span style="display: none"><a class="responsive_darab_cart" ><?php echo $text_items_responsive; ?></a></span>
          <a><span></span></a>
      <?php } elseif($megjelenit_minicart_kosar == 4){?>
          <a><?php echo $text_items; ?></a>
          <a><img style="position:relative; top: 0px;" src="<?php echo (isset($cart_icon) && $cart_icon) ? $cart_icon : ''; ?>"></a>
          <span style="display: none"><a class="responsive_darab_cart" ><?php echo $text_items_responsive; ?></a></span>
          <a><span></span></a>
      <?php } elseif($megjelenit_minicart_kosar == 5){?>
          <a><?php echo $text_items; ?></a>
          <a><?php echo $heading_title; ?></a>
          <span style="display: none"><a class="responsive_darab_cart" ><?php echo $text_items_responsive; ?></a></span>
          <a><span></span></a>
      <?php } elseif($megjelenit_minicart_kosar == 6){?>
          <a><?php echo $text_items; ?></a>
          <a><img style="position:relative; top: 0px;" src="<?php echo (isset($cart_icon) && $cart_icon) ? $cart_icon : ''; ?>"></a>
          <a><?php echo $heading_title; ?></a>
          <span style="display: none"><a class="responsive_darab_cart" ><?php echo $text_items_responsive; ?></a></span>
          <a><span></span></a>
      <?php } elseif($megjelenit_minicart_kosar == 7){?>
          <a><?php echo $text_items; ?></a>
          <a><?php echo $heading_title; ?></a>
          <a><img style="position:relative; top: 0px;" src="<?php echo (isset($cart_icon) && $cart_icon) ? $cart_icon : ''; ?>"></a>
          <span style="display: none"><a class="responsive_darab_cart" ><?php echo $text_items_responsive; ?></a></span>
          <a><span></span></a>
      <?php } elseif($megjelenit_minicart_kosar == 8){?>
          <a><?php echo $heading_title; ?></a>
          <a><?php echo $text_items; ?></a>
          <span style="display: none"><a class="responsive_darab_cart" ><?php echo $text_items_responsive; ?></a></span>
          <a><span></span></a>
      <?php } elseif($megjelenit_minicart_kosar == 9){?>
          <div>9</div>
          <a><?php echo $heading_title; ?></a>
          <a><img style="position:relative; top: 0px;" src="<?php echo (isset($cart_icon) && $cart_icon) ? $cart_icon : ''; ?>"></a>
          <span style="display: none"><a class="responsive_darab_cart" ><?php echo $text_items_responsive; ?></a></span>
          <a><span></span></a>
      <?php } elseif($megjelenit_minicart_kosar == 10){?>
          <a><?php echo $heading_title; ?></a>
          <a><?php echo $text_items; ?></a>
          <a><img style="position:relative; top: 0px;" src="<?php echo (isset($cart_icon) && $cart_icon) ? $cart_icon : ''; ?>"></a>
          <span style="display: none"><a class="responsive_darab_cart" ><?php echo $text_items_responsive; ?></a></span>
          <a><span></span></a>
      <?php } elseif($megjelenit_minicart_kosar == 11){?>
          <div>11</div>
          <a><?php echo $heading_title; ?></a>
          <a><img style="position:relative; top: 0px;" src="<?php echo (isset($cart_icon) && $cart_icon) ? $cart_icon : ''; ?>"></a>
          <a><?php echo $text_items; ?></a>
          <span style="display: none"><a class="responsive_darab_cart" ><?php echo $text_items_responsive; ?></a></span>
          <a><span></span></a>
      <?php } ?>
  </div>
  <div class="content" style="padding-bottom: 20px; padding-right: 10px;">
    <?php if ($products || $vouchers) { ?>
    <div class="mini-cart-info">
      <table>
        <?php foreach ($products as $product) { ?>
        <tr>
          <td class="image"><?php if ($product['thumb']) { ?>
            <a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" /></a>
            <?php } ?></td>
          <td class="name"><a href="<?php echo $product['href']; ?>">
                  <div class="dotwrap">
                      <?php if (isset($megjelenit_product['product_model_termeknevben']) && $megjelenit_product['product_model_termeknevben']) { ?>
                          <?php if (isset($product['model']) && $product['model']) { ?>
                              <span class="model_cart"><?php echo $product['model'];?></span> <?php echo " - ";?>
                          <?php }?>
                      <?php }?>

                      <?php if (isset($megjelenit_product['product_cikkszam_termeknevben']) && $megjelenit_product['product_cikkszam_termeknevben']) { ?>
                          <?php if (isset($product['cikkszam']) && $product['cikkszam']) { ?>
                              <span class="model_cart"><?php echo $product['cikkszam'];?></span> <?php echo " - ";?>
                          <?php }?>
                      <?php }?>

                      <?php if (isset($megjelenit_product['product_gyarto_termeknevben']) && $megjelenit_product['product_gyarto_termeknevben']) { ?>
                          <?php if (isset($product['manufacturer']) && $product['manufacturer']) { ?>
                              <span class="manufacturer_cart"><?php echo $product['manufacturer'];?></span> <?php echo " - ";?>
                          <?php }?>
                      <?php }?>
                      <?php echo $product['name']; ?>
                  </div>
              </a>
            <div>
              <?php foreach ($product['option'] as $option) { ?>
              - <small><?php echo $option['name']; ?> <?php echo $option['value']; ?></small><br />
              <?php } ?>
            </div></td>
          <?php if (!empty($product['quantity']) ) { ?>
            <td class="quantity">x&nbsp;<?php echo $product['quantity']; ?></td>
          <?php } else {?>
            <td class="quantity">&nbsp;</td>
            <?php } ?>
          <td class="total"><?php if($product['arat_kiiratni']) { echo $product['total']; } else { echo 0; } ?></td>
          <td class="remove"><img src="catalog/view/theme/default/image/remove-small.png" alt="<?php echo $button_remove; ?>" title="<?php echo $button_remove; ?>"
                                  onclick="
                                      $('#cart').load('index.php?route=module/cart&remove=<?php echo $product['key']; ?> #cart > *');
                                      removeFromCart('<?php echo $product['key']; ?>');" >
          </td>
        </tr>
        <?php } ?>
        <?php foreach ($vouchers as $voucher) { ?>
        <tr>
          <td class="image"></td>
          <td class="name"><?php echo $voucher['description']; ?></td>
          <td class="quantity">x&nbsp;1</td>
          <td class="total"><?php echo $voucher['amount']; ?></td>
          <td class="remove"><img src="catalog/view/theme/default/image/remove-small.png" alt="<?php echo $button_remove; ?>" title="<?php echo $button_remove; ?>"
                                  onclick="debugger; $('#cart').load('index.php?route=module/cart&remove=<?php echo $voucher['key']; ?> #cart > *');
                                      removeFromCart('<?php echo $voucher['key']; ?>');" >
          </td>
        </tr>
        <?php } ?>
      </table>
    </div>
    <div class="mini-cart-total">
      <table>
        <?php foreach ($totals as $total) { ?>
        <tr>
          <td align="right"><b><?php echo $total['title']; ?></b></td>
          <td align="right"><?php echo $total['text']; ?></td>
        </tr>
        <?php } ?>
      </table>
    </div>
    <div class="checkout"><a href="<?php echo $cart; ?>"><?php echo $text_cart; ?></a> | <a href="<?php echo $checkout; ?>" class="button"><?php echo $text_checkout; ?></a></div>
    <?php } else { ?>
    <div class="empty"><?php echo $text_empty; ?></div>
    <?php } ?>
  </div>

</div>
