<script type="text/javascript">
    var jQueryScriptOutputted = false;
    function initJQuery() {

        //if the jQuery object isn't available
        if (typeof(jQuery) == 'undefined') {


            if (! jQueryScriptOutputted) {
                //only output the script once..
                jQueryScriptOutputted = true;

                //output the script (load it from google api)
                document.write("<scr" + "ipt type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js\"></scr" + "ipt>");
            }
            setTimeout("initJQuery()", 50);
        } else {

            $(function() {

            });
        }

    }

    initJQuery();

    window.fbAsyncInit = function () {
        // http://bugs.developers.facebook.net/show_bug.cgi?id=18408
        //FB.Flash.hasMinVersion = function () { return false; };





    };

    function proba(){
        FB.init({
            appId: 		'<?php echo $fbjsconnect["appid"];?>',
            cookie: 	true,
            oauth:		true,
            version    : 'v2.1'
        });
        /*var fb_busy = false;
        if (fb_busy) return;
        fb_busy = true;*/

        $('#login-fb-waiting-text').text('<?php echo $text_fbconnect; ?>');

        $('#login-btr').hide('fade', 300);
        $('#login-fb-waiting').delay(300).show('fade', 250).delay(400);

        FB.login(function (res) {
            $('#login-fb-waiting').queue(function (next) {
                if (res.status == 'connected' && res.authResponse != null) {
                    $('#login-fb-waiting-text').hide('fade', 250, function () {
                        $(this).text('<?php echo $logging_text;?>').show('fade', 250).delay(400).queue(function (next2) {
                            //$('#mode').val('facebook-auto');
                            debugger;
                            document.location.href='<?php echo $fbjsconnect["redirect_uri"];?>';
                            //$('#login-btr').submit();
                            next2();
                        });
                    });
                }
                else {
                    $('#login-fb-waiting-text').hide('fade', 300, function () {
                        $(this).text('<?php echo $canclled_text;?>').show('fade', 250).delay(400,function (next2) {
                            $('#login-fb-waiting').fadeOut(400);
                            $('#login-btr').show('fade', 400, function () { fb_busy = false; });

                            next2();
                        });
                    });
                }

                next();
            });
            debugger;
        }, {
            scope: '<?php echo $fbjsconnect["scope"];?>'
        });

    };
    $(function () {
        var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true;
        e.src = 'https:' + '//connect.facebook.net/hu_HU/all.js';
        $('#fb-root').append(e);
    });
</script>
<div id="fb-root"></div>
<div class="box box-fbconnect" id="login-btr">
    <div class="box-content"> <a class="box-fbconnect-a" href="javascript:void(0);" id="fb-login" onclick="proba()"><img src="<?php echo $base;?>image/data/facebook.png"><span><?php echo $facebook_login; ?></span></a> </div>
</div>
<form id="login-fb-waiting" style="display: none; height: 40px; margin-top: 10px;">

    <img src="<?php echo $base;?>catalog/view/theme/default/image/fb_loader.gif" style="margin-right: 10px; vertical-align: middle;"> <span id="login-fb-waiting-text"></span>

</form>
