<?php if(isset($kaphato) && !empty($kaphato) && ($product['date_ervenyes_ig'] >= date('Y-m-d') || (isset($elonezet) && $elonezet == 1) ) )  { ?>
    <div class="szoveg date_ervenyes_ig">
        <?php if(!empty($product['href'])) { ?>
        <a href="<?php echo $product['href']; ?>">
            <?php } ?>
            <?php echo $kaphato?>: <span><?php echo $product['date_ervenyes_ig']; ?></span>-ig
            <?php if(!empty($product['href'])) { ?>
        </a>
    <?php } ?>
    </div>
<?php } ?>