<?php if(empty($_SESSION['ar_atszamol'])  ) { ?>

    <div class="cart">
        <a href="<?php echo $product['href']; ?>">
            <input class="kosar button" type="button" style="" value="<?php echo $button_bovebben; ?>" />
        </a>
    </div>
<?php } else { ?>
    <input type="button" class="kosar button elorendeles" value="<?php echo $button_set_valos_ar; ?>"
           onclick="ujratolt(0)"/>
<?php }  ?>
