html {
    overflow: -moz-scrollbars-vertical;
    overflow-y:scroll;
    margin: 0;
    padding: 0;
}
body {
    color: #000000;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
body, td, th, input, textarea, select, a {
    font-size: 12px;
}
h1, .welcome {
    color: #000000;
    font: Verdana;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: normal;
    text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
h2 {
    color: #000000;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
}
p {
    margin-top: 0px;
    margin-bottom: 20px;
}
a, a:visited, a b {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
a img {
    border: none;
}
form {
    padding: 0;
    margin: 0;
    display: inline;
}
input[type='text'], input[type='password'], textarea {
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
    padding: 3px;
    margin-left: 0px;
    margin-right: 0px;
}
select {
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
    padding: 2px;
}
label {
    cursor: pointer;
}
/* layout */
#container {
    background: url('../image/bgshadow.png') no-repeat center 70px;
    background-size: 87%;
    /*background: #ffffff;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    /*padding-bottom: 40px;*/
    display: table;
}

#kozepe_hatternek .kozepe {
    padding-top: 10px;
    display: table;
    width: 1104px;
    margin: 0 auto;
}

#header .sor_0 {
    max-width: 1104px;
    margin: 0 auto;
}

#kozepe_hatternek .kozepe {
    background: #ffffff;
}

#column-left {
    float: left;
    width: 240px;
    padding: 0px 10px 10px 10px;
}
#column-right {
    float: right;
    width: 240px;
    padding: 0px 10px 10px 10px;
}
#content {
    min-height: 400px;
   /* margin-bottom: 25px;*/
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
#column-left + #column-right + #content, #column-left + #content {
    margin-left: 250px;
}
#column-right + #content {
    margin-right: 250px;
}

/* header */

#language {
    position: absolute;
    top: 15px;
    left: 550px;
    width: 75px;
    color: #999;
    line-height: 17px;
}
#language img {
    cursor: pointer;
}

.mini-cart-info table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5px;
}
.mini-cart-info td {
    color: #000;
    vertical-align: top;
    padding: 10px 5px;
    border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
    width: 1px;
}
.mini-cart-info .image img {
    border: 1px solid #EEEEEE;
    text-align: left;
}
.mini-cart-info .name small {
    color: #666;
}
.mini-cart-info .quantity {
    text-align: right;
}
.mini-cart-info td.total {
    text-align: right;
}
.mini-cart-info .remove {
    text-align: right;
}
.mini-cart-info .remove img {
    cursor: pointer;
}
.mini-cart-total {
    text-align: right;
}
.mini-cart-total table {
    border-collapse: collapse;
    display: inline-block;
    margin-bottom: 5px;
}
.mini-cart-total td {
    color: #000;
    padding: 4px;
}


.breadcrumb {
    color: #000000;
    margin-bottom: 10px;
    padding-left: 10px;
}
.breadcrumb .active {
    color: red;
}
.breadcrumb a {
    text-decoration: none;
}
.iconset{
    position: relative;
    float: right;
}
.success, .warning, .attention, .information {
    padding: 10px 10px 10px 33px;
    margin-bottom: 15px;
    color: #555555;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.success {
    background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
    border: 1px solid #BBDF8D;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.warning {
    background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
    border: 1px solid #F8ACAC;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.attention {
    background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
    border: 1px solid #F2DD8C;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
    float: right;
    padding-top: 4px;
    padding-right: 4px;
    cursor: pointer;
}

#carousel_man {
    border:0 !important;
    background-color: transparent !important; ;
    margin:  38px 0 0 -188px;
}

.required {
    color: #FF0000;
    font-weight: bold;
}
.error {
    display: block;
    color: #FF0000;
}
.help {
    color: #999;
    font-size: 10px;
    font-weight: normal;
    font-family: Verdana, Geneva, sans-serif;
    display: block;
}
.slideshow{
    padding: 0px 0px 0px 10px;
}
table.form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table.form tr td:first-child {
    width: 150px;
}
table.form > * > * > td {
    color: #000000;
}
table.form td {
    padding: 4px;
}
input.large-field, select.large-field {
    width: 300px;
}
table.list {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
table.list td {
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
    background-color: #EFEFEF;
    padding: 0px 5px;
}
table.list thead td a, .list thead td {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}
table.list tbody td {
    vertical-align: top;
    padding: 0px 5px;
}
table.list .left {
    text-align: left;
    padding: 7px;
}
table.list .right {
    text-align: right;
    padding: 7px;
}
table.list .center {
    text-align: center;
    padding: 7px;
}
table.radio {
    width: 100%;
    border-collapse: collapse;
}
table.radio td {
    padding: 5px;
    vertical-align: middle;
}
table.radio tr td:first-child {
    width: 1%;
}
table.radio tr.highlight:hover td {
    background: #F1FFDD;
    cursor: pointer;
}
table.radio label {
    width: 100%;
    height: 15px;
    display: inline-block;
}
.pagination {
    border-top: 1px solid #EEEEEE;
    padding-top: 8px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.pagination .links {
    float: left;
}
.pagination .links a {
    display: inline-block;
    border: 1px solid #EEEEEE;
    padding: 4px 10px;
    text-decoration: none;
    color: #A3A3A3;
}
.pagination .links b {
    display: inline-block;
    border: 1px solid #269BC6;
    padding: 4px 10px;
    font-weight: normal;
    text-decoration: none;
    color: #269BC6;
    background: #FFFFFF;
}
.pagination .results {
    float: right;
    padding-top: 3px;
}
/* button */
a.button, input.button {
    background-color: #c5c5c5;
    cursor: pointer;
    color: #000000;
    line-height: 12px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    /*background: url('../image/button.png') top left repeat-x;
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -khtml-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;*/
}
a.button {
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px 6px 12px;
}
input.button {
    margin: 0;
    border: 0;
    height: 30px;
    width: auto;
    padding: 0px 12px 0px 12px;
}
a.button:hover, input.button:hover {
    background-color: #909090;
    /*background: url('../image/button-active.png') repeat-x;*/
}
.buttons {
   /* background: #f5f5f5;*/
    border: 1px solid #EEEEEE;
    overflow: auto;
    padding: 6px;
    margin-bottom: 20px;
}
.buttons .left {
    float: left;
    text-align: left;
}
.buttons .right {
    float: right;
    text-align: right;
}
.buttons .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.htabs {
    height: 34px;
    line-height: 16px;
    border-bottom: 1px solid #DDDDDD;
    margin-left: 0px;
    width: 100%;
    display: inline-block;
}
.htabs a {
    text-decoration: none;
    float:left;
    padding: 7px 15px 7px 15px;
    margin-right:10px;
    position:relative;
    top:4px;
    background-color:#909090;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    display: none;
}
.htabs a.selected {
    z-index: 99;
    display: block;
    float:left;
    padding: 7px 15px 7px 15px;
    margin-right: 10px;
    position: relative;
    top: 4px;
    background-color: #dadada;
}
.tab-content {
    background-color: #ffffff;
    border-top: 4px solid #909090;
    /*border-bottom: 4px solid red;*/
    /*border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;*/
    padding: 10px;
    margin-bottom: 10px;
    z-index: 2;
    min-height: 100px;
    overflow: auto;
}

/*.bx-viewport {
    min-height: 275px;
}*/

.image-additional {
    width: 100%;
}

.tags a{
    color: #000000;
    text-decoration: none;
}
.tags a:hover{
    color: red;
    text-decoration: none;
}
/* box */
.box {
    width: 100%;
    margin-bottom: 20px;
}
.box .category-separator{
    position: relative;
    height: 1px;
    background-color: #dadada;
    top: 5px;
}
.box .html-separator{
    position: relative;
    height: 1px;
    background-color: #dadada;
    top: 5px;
}
.box .qr-separator{
    position: relative;
    height: 1px;
    background-color: #dadada;
    /*top: -26px;*/
}
.box .box-heading {
    /*-webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -khtml-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    border: 1px solid #DBDEE1;
    background: url('../image/background.png') repeat-x;*/
    background: #c5c5c5;
    border-bottom: 4px solid #ff0000;
    padding: 8px 10px 7px 10px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #333;
    margin-bottom: 20px;
}
.box .box-content {
    text-align: justify;
    width: 100%;
    background: #FFFFFF;
    margin-top: 10px;
   /*-webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -khtml-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    border-left: 1px solid #DBDEE1;
    border-right: 1px solid #DBDEE1;
    border-bottom: 1px solid #DBDEE1;*/

}
.box .box-content > p.social{
    text-align: center;
}

/* content */
#content .content {
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;
    border: 1px solid #EEEEEE;
}
#content .content .left {
    float: left;
    width: 49%;
}
#content .content .right {
    float: right;
    width: 49%;
}
/* category */
.category-info {
    overflow: auto;
    margin-bottom: 20px;
}
.category-info .image {
    float: left;
    padding: 5px;
    margin-right: 15px;
    border: 1px solid #E7E7E7;
}
.category-list {
    overflow: auto;
    margin-bottom: 20px;
}
.category-list ul {
    float: left;
    width: 18%;
}
.category-list .div a {
    text-decoration: underline;
    font-weight: bold;
}
/* manufacturer */
.manufacturer-list {
    border: 1px solid #DBDEE1;
    padding: 5px;
    overflow: auto;
    margin-bottom: 20px;
}
.manufacturer-heading {
    background: #F8F8F8;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 8px;
    margin-bottom: 6px;
}
.manufacturer-content {
    padding: 8px;
}
.manufacturer-list ul {
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
}
/* product */
.product-filter {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 5px;
    overflow: auto;
}
.product-filter .display {
    margin-right: 15px;
    float: left;
    padding-top: 4px;
    color: #333;
}
.product-filter .display a {
    font-weight: bold;
}
.product-filter .sort {
    float: right;
    color: #333;
}
.product-filter .limit {
    margin-left: 15px;
    float: right;
    color: #333;
}
.product-compare {
    padding-top: 6px;
    margin-bottom: 25px;
    font-weight: bold;
}
.product-compare a {
    text-decoration: none;
    font-weight: bold;
}
.product-list > div {
    overflow: auto;
    margin-bottom: 15px;
}
.product-list .right {
   /* float: right;
    margin-left: 15px;*/
}
.product-list > div + div {
    border-top: 1px solid #EEEEEE;
    padding-top: 16px;
}
.product-list .image {
    float: left;
    margin-right: 10px;
}
.product-list .image img {
    padding: 3px;
    border: 1px solid #E7E7E7;
}
.product-list .name {
    margin-bottom: 6px;
}
.product-list .name a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
.product-list .description {
    line-height: 15px;
    margin-bottom: 5px;
    color: #4D4D4D;
}
.product-list .rating {
    color: #7B7B7B;
}

.product-list .wish-comp {
    text-align: right;
    margin-bottom: 10px;
}

.product-list .price {
    /*margin-top: 93px;*/
    margin-left: 8px;
    text-align: right;
    color: #333333;
    font-size: 18px;
    color: #333333;
}
.price_nemkell {
    display: none;
}

.product-list .compare a {
    background: url('../image/compare.png') center center no-repeat;
}

.product-list .wishlist a {
    background: url('../image/favourite.png') center center no-repeat;
}

.product-list .compare a, .product-list .wishlist a{
    width: 29px;
    height: 20px;
    padding: 5px 0;
    background-color: #555;
    text-align: center;
    margin-bottom: 0;
    cursor: pointer;
    display: block;
}

.product-list .compare a:hover, .product-list .wishlist a:hover {
    background-color: #333;
}

.product-list .price .price_netto span:first-child {
    font-size: 14px;
    vertical-align: top;
}

.product-list .price .price_netto span:last-child {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    vertical-align: top;
}

.product-list .price-old {
    color: #F00;
    text-decoration: line-through;
}
.product-list .price-new {
    font-weight: bold;
}
.product-list .price-tax {
    font-size: 12px;
    font-weight: normal;
    color: #BBBBBB;
}
.product-list .cart {
   /* margin-bottom: 3px;*/
}
.product-list .wishlist, .product-list .compare {
    margin-bottom: 3px;
}
/*.product-list .wishlist a {
    color: #333333;
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('../image/add.png') left center no-repeat;
}
.product-list .compare a {
    color: #333333;
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('../image/add.png') left 60% no-repeat;
}*/

.lista-elem .data-first-row {
    font-size: 0;
}

.lista-elem .data-first-row * {
    font-size: 12px;
}

.lista-elem .data-first-row .name {
    width: 75%;
}

.lista-elem .data-first-row .ikonok {
    width: 25%;
    text-align: right;
}

#kozepe_hatternek .kozepe .akcio_szoveges {
    display: inline-block;
    position: relative;
    min-width: 20px;
    padding: 3px 5px 2px;
    color: white;
    background-color: #ff8500;
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    margin-right: 3px;
}

#kozepe_hatternek .kozepe .akcio_szoveges:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    border-right: 7px solid #dd7200;
    border-bottom: 6px solid transparent;
}

#kozepe_hatternek .kozepe .uj_szoveges {
    display: inline-block;
    position: relative;
    min-width: 20px;
    padding: 3px 5px 2px;
    color: white;
    background-color: #008000;
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    margin-right: 3px;
}

#kozepe_hatternek .kozepe .uj_szoveges:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    border-right: 7px solid #006b00;
    border-bottom: 6px solid transparent;
}

#kozepe_hatternek .kozepe .pardarab_szoveges {
    display: inline-block;
    position: relative;
    min-width: 20px;
    padding: 3px 5px 2px;
    color: white;
    background-color: #333;
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    margin-right: 3px;
}

#kozepe_hatternek .kozepe .pardarab_szoveges:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    border-right: 7px solid #656565;
    border-bottom: 6px solid transparent;
}

.product-grid {
    width: 100%;
    overflow: auto;
}
.product-grid > div {
    width: 130px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 15px;
}
#column-left + #column-right + #content .product-grid > div {
    width: 125px;
}
.product-grid .image {
    display: block;
    margin-bottom: 0px;
}
.product-grid .image img {
    padding: 3px;
    border: 1px solid #E7E7E7;
}
.product-grid .name a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-bottom: 4px;
}
.product-grid .description {
    display: none;
}
.product-grid .rating {
    display: block;
    margin-bottom: 4px;
}
.product-grid .price {
    display: block;
    font-weight: bold;
    color: #333333;
    margin-bottom: 4px;
}
.product-grid .price-old {
    color: #F00;
    text-decoration: line-through;
}
.product-grid .price-new {
    font-weight: bold;
}
.product-grid .price .price-tax {
    display: none;
}
.product-grid .cart {
    margin-bottom: 3px;
}
.product-grid .wishlist, .product-grid .compare {
    margin-bottom: 3px;
}
.product-grid .wishlist a {
    color: #333333;
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('../image/add.png') left center no-repeat;
}
.product-grid .compare a {
    color: #333333;
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('../image/add.png') left center no-repeat;
}
/* Product */
.product-info {
    overflow: auto;
    margin-bottom: 20px;
}
.product-info a {
    overflow: auto;
    /*margin-bottom: 20px;*/
}

.product-info .elso_sor {
    font-size: 0;
    margin-bottom: 10px;
}

.product-info .elso_sor * {
    font-size: 12px;
}

.product-info .kis-kepek {
    width: 322px;
    margin-left: 5px;
}

.product-info .kis-kepek .bx-wrapper {
    margin: 0 auto;
}

.product-info .elso_sor .bal_oldal {
    width: 43%;
    vertical-align: top;
}

.product-info .elso_sor .jobb_oldal {
    width: 57%;
    vertical-align: top;
}

.product-info .elso_sor .jobb_oldal .elerhetoseg {
    border-top:    1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    padding: 10px;
}

.product-info .elso_sor .jobb_oldal .elerhetoseg > div:first-child {
    padding-bottom: 8px;
}

.product-info .image-additional a {
    overflow: hidden;
    display: inline-block;
}

.image-additional .bx-wrapper img {
    width: 96%;
}

#content .product-info .arak * {
    margin-left: auto;
    font-size: 18px;
    color: #333333;
}

#content .product-info .arak .price_netto_ar * {
    /*font-size: 12px;
    color: #909090;*/
    font-weight: bold;

}

.lista-elem .lista_sor_0, .lista-elem .second-row {
    font-size: 0;
}

.lista-elem .lista_sor_0 > *, .lista-elem .second-row > * {
    font-size: 12px;
}

.lista-elem .lista_sor_0 > div, .lista-elem .second-row > div {
    vertical-align: top;
}

.lista-elem .left {
    width: 22%;
}

.lista-elem .right {
    width: 78%;
}

.lista-elem .in-left {
    width: 75%;
}

.lista-elem .in-right {
    width: 25%;
    margin-top: 15px;
}

.lista-elem {
    padding: 8px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.lista-elem:hover {
    background: #f5f5f5;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.lista-elem .cart * {
    display: inline-block;
}

.lista-elem .cart {
    text-align: right;
    margin-left: auto;
}

.lista-elem .cart .mennyit_vasarol {
    width: 30px;
    height: 22px;
    position: relative;
    right: -3px;
}

.product-info .kosar_sor {
  /*  text-align: right;*/
    margin-top: 15px;
    margin-bottom: 10px;
}

.product-info .velemenyek {
    /*;*/
    border: 1px solid #E7E7E7;
}

.product-info .velemenyek > div:first-child {
    border-bottom: 1px solid #E7E7E7;
}

.product-info .velemenyek > div {
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    padding: 10px;
}

.product-info .velemenyek .share {
    overflow: auto;
    line-height: normal;
}

.product-info .product_sor_1_1_5 {
    text-align: right;
}

/*#container  #content .bx-viewport {
    height: 100% !important;
}*/

.product-info .product_sor_1_1_5 > div {
    margin-left: auto;
}

.product-info .product_sor_1_1_5 * {
    vertical-align: top;
}

.product-info .kosar_sor .mennyit_vasarol {
    width: 45px;
    position: relative;
    right: -3px;
}

.product-info .kosar_sor > * {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 30px;
}

.product-info .kosar_sor .cart .button {
    height: 30px;
    min-width: 120px;
}

/*.product-info .osszhas-kivan {
    padding: 10px;
}*/

.product-info .arak > .price {
    font-weight: bold;
}

.product-info .arak {
    padding-top: 15px;
    padding-bottom: 15px;
}

.product-info .left {
    margin-right: 10px;
    display: inline-table;
    float: left;
}
.product-info .left + .right {
    display: table;
}
.product-info .bal_oldal .image {
    border: 1px solid #E7E7E7;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    display: inline-table;
}
.product-info .image-additional {
    margin-left: -10px;
    display: table;
}
.product-info .bal{
    float: left;
}

.product-info .cart .cart {
    margin: 0 auto;
    float: none;
}

.product-info .jobb{
    margin-left: 15px;
    display: inline-table;
}
.product-info .image-additional img {
    border: 1px solid #E7E7E7;
}

.product-info .description {
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    padding: 5px 5px 10px 5px;
    margin-bottom: 10px;
    line-height: 20px;
    color: #000000;
    font-size: 14px;
}
.product-info .description span {
    color: #000000;
}
.product-info .description a {
    color: #4D4D4D;
    text-decoration: none;
}
.product-info .price {
    overflow: auto;
   /* border-bottom: 1px solid #E7E7E7;
    padding: 0px 5px 10px 5px;
    margin-bottom: 10px;*/
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
.product-info .price-old {
    color: #F00;
    text-decoration: line-through;
}
.product-info .price-new {
}
.product-info .price-tax {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.product-info .price .reward {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.product-info .price .discount {
    font-weight: normal;
    font-size: 12px;
    color: #4D4D4D;
}
.product-info .options {
    border-bottom: 1px solid #E7E7E7;
    padding: 0px 5px 10px 5px;
    margin-bottom: 10px;
    color: #000000;
}
.product-info .option-image {
    margin-top: 3px;
    margin-bottom: 10px;
}
.product-info .option-image label {
    display: block;
    width: 100%;
    height: 100%;
}
.product-info .option-image img {
    margin-right: 5px;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}
.product-info .cart {
    /*border-bottom: 1px solid #E7E7E7;*/
   /* padding: 10px 5px 10px 5px;*/
    margin-bottom: 10px;
    color: #4D4D4D;
    overflow: auto;
}

#content .product-bejelentkezes{
    margin-bottom: 10px;
}

.nepszeru_button_cart{
    display: none;
}

.product-info .bal .kosar{
    background-color: #c5c5c5;
    cursor: pointer;
    color: #000000;
    line-height: 12px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    border: 0;
    height: 30px;
    width: auto;
    padding: 0px 12px 0px 12px;
}

.product-info .bal .kosar:hover{
    background-color: #909090;
}

.product-info .cart .add{
    padding-top: 20px;
}
.product-info .cart .add a{
    color: #000000;
}
.product-info .cart div {
    float: left;
    vertical-align: middle;
}
.product-info .cart div > span {
    padding-top: 7px;
    display: block;
    color: #999;
}
.product-info .cart .minimum {
    padding-top: 5px;
    font-size: 11px;
    color: #999;
    clear: both;
}
.product-info .review {
    color: #4D4D4D;
    border-top: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    margin-bottom: 10px;
}
.product-info .review > div {
    padding: 8px;
    border-bottom: 1px solid #E7E7E7;
    line-height: 20px;
}
.product-info .review > div > span {
    color: #38B0E3;
}
.product-info .review .share {
    overflow: auto;
    line-height: normal;
}
.product-info .review .share a {
    text-decoration: none;
}
.attribute {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: #F7F7F7;
    text-align: left;
}
.attribute tr td:first-child {
    color: #000000;
    font-weight: bold;
    text-align: right;
    width: 20%;
}
.attribute td {
    padding: 7px;
    color: #4D4D4D;
    text-align: center;
    vertical-align: top;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.compare-info {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: #F7F7F7;
    text-align: left;
}
.compare-info tr td:first-child {
    color: #000000;
    font-weight: bold;
    text-align: right;
}
.compare-info td {
    padding: 7px;
    width: 20%;
    color: #4D4D4D;
    text-align: center;
    vertical-align: top;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
    font-weight: bold;
}
.compare-info .price-old {
    font-weight: bold;
    color: #F00;
    text-decoration: line-through;
}
.compare-info .price-new {
    font-weight: bold;
}
/* wishlist */
.wishlist-info table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
.wishlist-info td {
    padding: 7px;
}
.wishlist-info thead td {
    color: #4D4D4D;
    font-weight: bold;
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
    text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
    text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
    text-align: right;
}
.wishlist-info tbody td {
    vertical-align: top;
    border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
    border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
    text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
    text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
    text-align: right;
}
.wishlist-info tbody .price s {
    color: #F00;
}
.wishlist-info tbody .action img {
    cursor: pointer;
}

.product-info .osszehasonlit {
    margin-top: 3px;
}

.kivansag{
    display: block;
    width: 140px;
    line-height: 30px;
    text-decoration: none;
    text-align: left;
    color: #4D4D4D;
    margin-bottom: 5px;
}

.kivansag:before {
    content: "";
    background: url('../image/favourite.png') center center no-repeat;
    width: 28px;
    height: 19px;
    padding: 4px 0;
    background-color: #555;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    bottom: -10px;
    cursor: pointer;
    display: inline-block;
}

.hasonlit:before {
    content: "";
    background: url('../image/compare.png') center center no-repeat;
    width: 28px;
    height: 19px;
    padding: 4px 0;
    background-color: #555;
    text-align: center;
    position: relative;
    bottom: -10px;
    margin-bottom: 0;
    cursor: pointer;
    display: inline-block;
}

.hasonlit{
    display: block;
    width: 140px;
    line-height: 30px;
    text-decoration: none;
    text-align: left;
    color: #4D4D4D;
}

.hasonlit:hover:before, .kivansag:hover:before {
    background-color: #333;
}

.login-content {
    margin-bottom: 20px;
    overflow: auto;
}
.login-content .left {
    float: left;
    width: 48%;
}
.login-content .right {
    float: right;
    width: 48%
}
.login-content .left .content, .login-content .right .content {
    min-height: 190px;
}

#login input[type='text'], #login input[type = 'password'] {
    height: 20px;
    width: 220px;
}

/* orders */
.order-list {
    margin-bottom: 10px;
}
.order-list .order-id {
    width: 49%;
    float: left;
    margin-bottom: 2px;
}
.order-list .order-status {
    width: 49%;
    float: right;
    text-align: right;
    margin-bottom: 2px;
}
.order-list .order-content {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
    float: left;
    width: 33.3%;
}
.order-list .order-info {
    text-align: right;
}
.order-detail {
    background: #EFEFEF;
    font-weight: bold;
}
/* returns */
.return-list {
    margin-bottom: 10px;
}
.return-list .return-id {
    width: 49%;
    float: left;
    margin-bottom: 2px;
}
.return-list .return-status {
    width: 49%;
    float: right;
    text-align: right;
    margin-bottom: 2px;
}
.return-list .return-content {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
    float: left;
    width: 33.3%;
}
.return-list .return-info {
    text-align: right;
}
.return-product {
    overflow: auto;
    margin-bottom: 20px;
}
.return-name {
    float: left;
    width: 31%;
    margin-right: 15px;
}
.return-model {
    float: left;
    width: 31%;
    margin-right: 15px;
}
.return-quantity {
    float: left;
    width: 31%;
}
.return-detail {
    overflow: auto;
    margin-bottom: 20px;
}
.return-reason {
    float: left;
    width: 31%;
    margin-right: 15px;
}
.return-opened {
    float: left;
    width: 31%;
    margin-right: 15px;
}
.return-opened textarea {
    width: 98%;
    vertical-align: top;
}
.return-captcha {
    float: left;
}
.download-list {
    margin-bottom: 10px;
}
.download-list .download-id {
    width: 49%;
    float: left;
    margin-bottom: 2px;
}
.download-list .download-status {
    width: 49%;
    float: right;
    text-align: right;
    margin-bottom: 2px;
}
.download-list .download-content {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
    float: left;
    width: 33.3%;
}
.download-list .download-info {
    text-align: right;
}
/* cart */
.cart-info table {
    width: 100%;
    margin-bottom: 15px;
    border-collapse: collapse;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
.cart-info td {
    padding: 7px;
}
.cart-info thead td {
    color: #4D4D4D;
    font-weight: bold;
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
    text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
    text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
    text-align: right;
}
.cart-info tbody td {
    vertical-align: top;
    border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
    border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
    text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
    text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
    position: relative;
    top: 4px;
    cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
    text-align: right;
}
.cart-info tbody span.stock {
    color: #F00;
    font-weight: bold;
}
.cart-module > div {
    display: none;
}
.cart-total {
    border-top: 1px solid #DDDDDD;
    overflow: auto;
    padding-top: 8px;
    margin-bottom: 15px;
}
.cart-total table {
    float: right;
}
.cart-total td {
    padding: 3px;
    text-align: right;
}
/* checkout */
.checkout-heading {
    background: #F8F8F8;
    border: 1px solid #DBDEE1;
    padding: 8px;
    font-weight: bold;
    font-size: 13px;
    color: #555555;
    margin-bottom: 15px;
}
.checkout-heading a {
    float: right;
    margin-top: 1px;
    font-weight: normal;
    text-decoration: none;
}
.checkout-content {
    padding: 0px 0px 15px 0px;
    display: none;
    overflow: auto;
}
.checkout-content .left {
    float: left;
    width: 48%;
}
.checkout-content .right {
    float: right;
    width: 48%;
}
.checkout-content .buttons {
    clear: both;
}
.checkout-product table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
.checkout-product td {
    padding: 7px;
}
.checkout-product thead td {
    color: #4D4D4D;
    font-weight: bold;
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
    text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
    text-align: right;
}
.checkout-product tbody td {
    vertical-align: top;
    border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
    text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
    text-align: right;
}
.checkout-product tfoot td {
    text-align: right;
    border-bottom: 1px solid #DDDDDD;
}
.checkout .fejlec {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    width: 13%;
    font-size: 13px;
}
.checkout .ertek {
    display: inline-block;
    width: 87%;
    font-size: 13px;
}

.checkout .checkout-product.altalanos {
    display: table;
    width: 100%;
    font-size: 0;
}
.checkout .checkout-product.altalanos .szamlazas {
    display: block;
}
.checkout .fo-fejlec {
    font-size: 16px;
    margin: 0 0 15px 0;
    display: table-caption;
}
.checkout textarea {
    width: 100%;
    box-sizing: border-box;
}
.checkout .szamlazas .ertek textarea {
    margin-bottom: 10px;

}




.contact-info {
    overflow: auto;
}
.contact-info .left {
    float: left;
    width: 48%;
}
.contact-info .right {
    float: left;
    width: 48%;
}
.sitemap-info {
    overflow: auto;
    margin-bottom: 40px;
}
.sitemap-info .left {
    float: left;
    width: 48%;
}
.sitemap-info .right {
    float: left;
    width: 48%;
}
/* footer */


#footer {
    clear: both;
    position: relative;
    width: 100%;
    background: #c5c5c5 url('../image/footer_img.png') no-repeat 975px;
   /* min-height: 295px;*/
}

#bottomwrapper{
    position: relative;
    margin: 0 auto;
    width: 980px;
    padding-left: 140px;
}


#footer h3 {
    letter-spacing: normal;
    /*font-family: !important "Trebuchet MS";*/
    font-weight: bold;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    width: 70%;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 25px;
}

#footer .header_3 {
    letter-spacing: normal;
    /*font-family: !important "Trebuchet MS";*/
    font-weight: bold;
    font-size: 14px;
    margin-top: 0px;
    padding: 20px 0 26px 0;
    width: 70%;
    color: #000000;
    margin-top: 0px;
}

#footer .column {
    width: 24%;
    min-height: 100px;
    display: inline-table;
}
#footer .column ul {
    margin-top: 0px;
    margin-left: 0;
    padding-left: 0;
    margin-right: 20px;
}
#footer .column ul li {
    list-style: none;
    margin-bottom: 3px;
    font-size: 13px;
    padding-left: 0;
    margin-bottom: 3px;
}
#footer .column ul li a:hover {
    padding-left: 10px;
    background: url(../image/hover.png) no-repeat;
    margin-bottom: 3px;
}
#footer .column ul li.active a {
    padding-left: 10px;
    background: url(../image/hover.png) no-repeat;
    margin-bottom: 3px;
}
#footer .column a {
    text-decoration: none;
    color: #000;
}
#footer .column a:hover {
    text-decoration: none;
}
#powered {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    /*font-weight: bold;*/
    font-size: 14px;
    text-align: center;
    background: red;
    /*margin-top: 5px;*/
    /*text-align: right;*/
    clear: both;
}
/* banner */
.banner div {
    text-align: center;
    width: 100%;
    display: none;
}
.banner div img {
    margin-bottom: 20px;
}
/* share */
.at16nc.at16t_compact{
    width: 28px;
    height: 27px;
    margin-right: 0px;
    background: url(../image/share.png) no-repeat;
}
.at16nc.at16t_email{
    width: 28px;
    height: 27px;
    background: url(../image/mail.png) no-repeat;
}
.at16nc.at16t_print{
    width: 28px;
    height: 27px;
    background: url(../image/print.png) no-repeat;
}
.at16nc.at16t_facebook{
    width: 28px;
    height: 27px;
    background: url(../image/fb.png) no-repeat;
}
.at16nc.at16t_twitter{
    width: 28px;
    height: 27px;
    background: url(../image/tweet.png) no-repeat;
}
.at16t {
    padding-left: 35px!important;
}

.utolsobread{
    color: red !important;
}

/* footer */
#footer {
    position: relative;
}



#footer > div{
    position: relative;
    padding: 20px 0 0 120px;
    margin: 0 auto;
}


.footer_doboz {
    width: 220px;
    display: inline-table;
    vertical-align: top;
}




#footer .footer_doboz:first-child {
    margin-left: 0px;
}

#footer_facebook_button > div, #footer_facebook_button > iframe {
    display: inline-block;
}
#footer .column2 {
    margin-right: 23px !important;
    width: 100%;
    list-style: none;
}

#footer .column2 ul {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    list-style: none !important;
}
#footer .column2 ul li {
    margin-bottom: 3px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    padding-left: 0px;
    clear: left;
}



#footer .column2 ul li .ceg_ikon {
    width: 25px;
    display: table;
    float: left;
}

#footer .column2 ul li .ceg_cime {
    width: auto;
    display: table;
    float: left;
    position: relative;
    top: 5px;
}

#footer .column2 ul li img {

}



#footer h3 {
    letter-spacing: normal;
    /*font-family: !important "Trebuchet MS";*/
    font-weight: bold;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    width: 70%;

}



#footer .column {
    width: 24%;
    min-height: 100px;
    display: inline-table;
    vertical-align: top;
}
#footer .column ul {
    margin-top: 0px;
    margin-left: 0;
    padding-left: 0;
    margin-right: 20px;
}
#footer .column ul li {
    list-style: none;
    margin-bottom: 3px;
    /*color: #797979;*/
    font-size: 13px;
    padding-left: 0;
    /*font-family:important verdana;*/
}
#footer .column a {
    text-decoration: none;
   /* color: #797979;*/
    font-size: 13px;

}
/*
#footer .column a:hover {
    text-decoration: none;
    color: #fff;

}

#footer {
    border-top: 1px solid #DBDEE1;
}

#footer h3 {

    color: #fff;
    border-bottom: 1px solid rgba(70, 46, 35, 0.34);
}

#footer .column2 ul li {
    color: #daf1db;
}*/

/* Keresés aloldal */

#content .content .felso-sor-fejlec {
    margin-bottom: 5px;
}

#content .content .felso-sor-gomb {
    text-align: right;
}

#content .content .felso-sor, #content .content .felso-sor-le {
    display: inline-block;
    vertical-align: top;
}

#content .content .felso-sor {
    margin-right: 30px;
}

#content .content .felso-sor input {
    width: 220px;
    height: 20px;
}

#content .content .felso-sor > div {
    display: inline-block;
}

/* Keresés aloldal -- VÉGE -- */

#powered .powered-inner {
    width: 981px;
    margin: 0 auto;
}

#content .product-compare {
    display: none;
}

/* Kategória dobozok - category oldalon */

.box-product-categories .image {
    border: 1px solid #e1e1e1;
    width: 190px;
    height: 190px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
}

.box-product-categories > div .name {
    position: absolute;
    bottom: 12px;
    right: -5px;
    -webkit-transition: all 2s  ease;
    transition: all 2s  ease;
}


.box-product-categories .name a {
    box-shadow: 0px 1px 2px #000;
    text-align: center;
    vertical-align: middle;
    background-color: #333;
    text-decoration: none;
    height: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
    text-transform: uppercase;
    display: table-cell;
    letter-spacing: 1px;
    opacity: 0.85;
    text-shadow: 3px 3px 3px #000;
    cursor: pointer;
    width: 182px;
    overflow: hidden;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis;*/
    }

    .box-product-categories .name:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        bottom: -5px;
        right: 0px;
        border-left: 6px solid #333;
        border-bottom: 5px solid transparent;
    }

    .box-product-categories a.image img {
        width: 190px;
        height: 190px;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;

    }

    .box-product-categories > div:hover .image img {
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        opacity: 0.9;
        width: 200px;
        height: 200px;
    }

    .box-product-categories > div:hover .name {
        opacity: 0;
       /* -webkit-transition-delay: 0.35s;
        transition-delay: 0.35s;*/
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

/*      Kategória dobozok - Fejléc */

    .image-above-header, .heading-title {
        display: inline-block;
    }

    .image-above-header {
        width: 7%;
    }

    .image-above-header img {
        width: 50px;
    }

    .heading-title {
        width: 92%;
    }

/*      Kategória dobozok - Fejléc -- VÉGE */


/* Kategória dobozok - category oldalon -- VÉGE -- */

.at-icon-wrapper {
    margin-right: 2px;
}