#header {
   /* min-height: 94px;*/
   /* margin-bottom: 7px;
    padding-bottom: 4px;*/
    position: relative;
    z-index: 99;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: bottom;
}

#header * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*#header > div > div > div > div > div > div, #header > div > div > div > div > div, #header > div > div > div > div, #header > div > div > div, #header > div > div, #header > div {
    border: 1px solid #333;
}*/

/* 1. sor */

/* Elrendezés - 1. sor */

#header .sor_0 {
    font-size: 0;
    margin-top: 15px;
    margin-bottom: 7px;
    padding-bottom: 4px;
   /* position: absolute;
    bottom: 0;*/
    width: 100%;
}

#header .sor_0 > * {
    font-size: 12px;
}

#header .sor_0 > div {
    display: inline-block;
    vertical-align: bottom;
}

#header .sor_0 .oszlop_0_0 {
    width: 30%;
}

#header .sor_0 .oszlop_0_1 {
    font-size: 0;
    width: 70%;
}

#header .sor_0 .oszlop_0_1 > div {
    font-size: 12px;
}

#header .sor_0 .oszlop_0_1 > .sor_0_1_0,
#header .sor_0 .oszlop_0_1 > .sor_0_1_1 {
    width: 50%;
    display: inline-block;
    vertical-align: bottom;
}

/* Elrendezés - 1. sor -- VÉGE -- */


/* Logo */


#header #logo img {
    vertical-align: bottom;
    padding-left: 15px;
}

/* Logo -- VÉGE -- */

/* Pénznemek */

#currency_text {
    color: #999;
    line-height: 17px;
}

#currency {
    color: #999;
    line-height: 17px;
}
#currency a {
    display: inline-block;
    padding: 2px 4px;
    border: 1px solid #CCC;
    color: #999;
    text-decoration: none;
    margin-right: 2px;
    margin-bottom: 2px;
}
#currency a b {
    color: #000;
    text-decoration: none;
}

#header .sor_0_1_0_0_0 > div > * {
    text-align: right;
}

/* Pénznemek -- VÉGE -- */

/* Kosár */

#header #cart {
    text-align: right;
    position: relative;
}
#header #cart .heading {
    margin-top: 15px;
    padding-left: 14px;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    background: #FFF;
    position: relative;
    z-index: 1;
}
#header #cart .heading h4 {
   /* float: right;*/
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 3px;
}
#header #cart .heading a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.mini-cart-info table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5px;
}
.mini-cart-info td {
    color: #000;
    vertical-align: top;
    padding: 10px 5px;
    border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
    width: 1px;
}
.mini-cart-info .image img {
    border: 1px solid #EEEEEE;
    text-align: left;
}
.mini-cart-info .name small {
    color: #666;
}
.mini-cart-info .quantity {
    text-align: right;
}
.mini-cart-info td.total {
    text-align: right;
}
.mini-cart-info .remove {
    text-align: right;
}
.mini-cart-info .remove img {
    cursor: pointer;
}
.mini-cart-total {
    text-align: right;
}
.mini-cart-total table {
    border-collapse: collapse;
    display: inline-block;
    margin-bottom: 5px;
}
.mini-cart-total td {
    color: #000;
    padding: 4px;
}

#header #cart .heading a span {
    background: #FFFFFF url('../image/arrow-down.png') 100% 50% no-repeat;
    padding-right: 15px;
}
#header #cart .content {
    clear: both;
    display: none;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 15;
    padding: 8px;
    min-height: 150px;
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    -webkit-border-radius: 7px 0px 7px 7px;
    -moz-border-radius: 0px 7px 7px 7px;
    -khtml-border-radius: 0px 7px 7px 7px;
    border-radius: 7px 0px 7px 7px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
    background: #FFF;
    min-width: 300px;
}

#header #cart.active .heading {



}
#header #cart.active .content {
    display: block;
}

#header #cart .checkout {
    text-align: right;
    clear: both;
}


#header #cart .empty {
    padding-top: 50px;
    text-align: center;
}

/* Kosár -- VÉGE -- */

/* Belépés */

#header #welcome {
    font-size: 11px;
    text-align: center;
    color: #000000;
    padding-top: 15px;
}
#header #welcome a, a:visited {
    color: #000000;
    font-size: 11px;

}

/* Belépés -- VÉGE --  */

/* Navigációs linkek */

#header .oszlop_0_1_1_1 {
    text-align: right;
}

#header .links, #header .sor_0_1_1_1_0 {

    font-size: 10px;
    padding-top: 15px;
}
#header .links a, #header .sor_0_1_1_1_0 a {
    display: inline-block;
    padding: 0px 0px 0px 7px;
    color: #000000;
    text-decoration: none;
    font-size: 11px;
}
#header .links a.active, #header .sor_0_1_1_1_0 a.active {
    position: relative;
   /* left: 10px;*/
   /* float: left;*/
    display: block;
    padding: 0px 0px 0px 7px;
    color: red;
    text-decoration: none;
    font-size: 11px;
}
#header .links a + a, #header .sor_0_1_1_1_0 a + a {
    margin-left: 8px;
}

/* Navigációs linkek -- VÉGE -- */

/* 1. sor -- VÉGE -- */

/* 2. sor */

#header .sor_1 {
    font-size: 0;
    width: 100%;
}

#header .sor_1 * {
    font-size: 12px;
}

#header .sor_1 .oszlop_1_0 {
    width: 1104px;
    margin: 0 auto;
}

#header .sor_1 .sor_1_0_0 {
    width: 65%;
}

#header .sor_1 .sor_1_0_1 {
    width: 35%;
    text-align: right;
    vertical-align: top;
}

#header .sor_1  {
     background: #c5c5c5 url('../image/head_img.png') no-repeat 700px;
     border-bottom: 4px solid #ff0000;
     height: 53px;
 }

/* Kívánságlista és Összehasonlítás */

#header .sor_1_0_1_0_0, #header .sor_1_0_1_0_1 {
    padding: 12px 3px;
    vertical-align: top;
}

.header-wishlist-icon {
    width: 33px;
    height: 28px;
    padding: 5px 0;
    border-radius: 4px;
    background-color: #555;
    text-align: center;
    margin-bottom: 0;
    cursor: pointer;
}

#header .product-compare {
    padding-top: 0;
    margin-bottom: 0;
}

#header .product-compare img {

    padding: 5px 5px;
    background-color: #555;
    text-align: center;
    margin-bottom: 0;
    cursor: pointer;
}

.header-wishlist-icon:hover, #header .product-compare img:hover {
    background-color: #333;
}

/* Kívánságlista és Összehasonlítás -- VÉGE -- */

/* Keresés */

#header .oszlop_1_0_1_1 {
    vertical-align: top;
}

#header  #search input[type='text'] {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 0 #999;
    box-shadow: inset 1px 1px 0 #999;
    display: inline-block;
    max-width: 190px;
    height: 28px;
    padding: 0 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.42857;
    color: #333;
    vertical-align: middle;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    -webkit-transition: border-color ease-in-out .15s, background-color ease-in-out .15s;
    transition: border-color ease-in-out .15s, background-color ease-in-out .15s;
}

#header  #search input[type='text']:focus {
    border-color: #999;
    background-color: #f5f5f5;
    outline: 0;
}

#header  #search {
    padding: 11px 0;
    margin-right: 10px;
    position: relative;
    text-align: left;
    margin-left: 25px;
}

#header  #search .button-search {
    display: inline-block;
    width: 30px;
    height: 28px;
    padding: 5px 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #555;
    vertical-align: middle;
    position: relative;
    left: -5px;
    cursor: pointer;
}

#header  #search .button-search:hover {
    background-color: #333;
}

#header  #search .button-search:after {
    content: '';
    position: absolute;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid white;
    display: block;
    width: 0;
    z-index: 1;
    top: 8px;
    left: 13px;
}

#header  #search .search-button {
    width: 28px;
    height: 24px;
    position: absolute;
    top: 13px;
    left: 0;
    opacity: .5;
    background: url("../image/search-icon.png") no-repeat center center;
    cursor: pointer;
}

#header  #search .search-button:hover {
    opacity: 1;
}
/* Keresés -- VÉGE -- */

/* Menu */

#header .sor_1 .sor_1_0_0 > div > a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
    display: block;
    padding: 18px 10px 15px 10px;
    margin-bottom: 5px;
    z-index: 6;
    position: relative;
}

#header .sor_1 .sor_1_0_0 > div:hover > a {
    background: #909090;
    color: #fff;
}

#header .sor_1 .sor_1_0_0 > div > a.active {
    background: #909090;
}

/* Menu -- VÉGE --*/

/* 2. sor -- VÉGE -- */