#menu ul, #header .sor_2 .oszlop_2_0 .sor_2_0_0 ul.dropdown-menu, ul.dropdown-menu {
    position: absolute;
    text-align: left;
    z-index: 10000;
    width: 100%;
    min-width: 300px;
    box-shadow: 2px 2px 3px #D7D7D7;

}

ul.dropdown-menu li {
    border: 1px solid #E4E4E4;
    border-top: none;
    display: flex;
    width: 100%;
    background-color: #F5F5F5;


}
ul.dropdown-menu li span {
    display: block;
}

ul.dropdown-menu li a {
    color: #3F3F3F;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 2px 1px 5px;
    font-size: 13px;
}

ul.dropdown-menu li a.kep {
    padding-right: 6px;

}

ul.dropdown-menu li a.szoveg {
    width: 100%;
    padding-right: 5px;
    text-decoration: initial;
}

ul.dropdown-menu li a.szoveg .product_name {
    font-size: 13px;
    text-shadow: 0px 0px 1px #BABABA;
}

ul.dropdown-menu li a.szoveg .model {
    font-size: 11px;
    text-align: right;
}




ul.dropdown-menu li:hover, ul.dropdown-menu li:hover a {
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;

    -webkit-transition: color 1000ms linear;
    -moz-transition: color 1000ms linear;
    -o-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;

    background-color: #fdfdfd;
    color: #FF0000;
}


