div.modal-box.wrapper {float: none; border: 1px solid #d4d4d4;border-radius:3px;-moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px;font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;z-index: 2000;text-align: left;left: 25%;right: 25%;background-color: #fffeff;}
div.modal-box div.inside {margin: 3px;padding: 10px;overflow: visible;z-index: 2000;}

/* Each Box's specified width: Required so that they're showing in the middle of the page */

div#special-offer-reminder.modal-box { 
	position: fixed;  
	top: 150px; 
	left: 35%;
	width: 400px;
}

div.modal-box div.hr {height: 5px;background: url(../image/modal_box/hr.png) repeat-x;}

/* button from module */
div.special-offer-reminder a.button, div.modal-box span.button{display: block;float: left;position: relative;height: 34px;line-height: 33px;background: url(../image/modal_box/buttons-sprite.png) no-repeat 0 -1px;padding-left: 20px;margin: 2px 30px 10px 0px;font-size: 15px;font-weight: bold;color: #585858;text-decoration: none;}
div.special-offer-reminder a.button:hover, div.modal-box span.button:hover {background-position: 0 -37px;cursor: pointer;}
div.special-offer-reminder a.button span, div.modal-box span.button span{display: block;float: left;position: relative;height: 34px;padding-right: 20px;margin-right: -20px;background: url(../image/modal_box/buttons-sprite.png) no-repeat right -1px;}
div.special-offer-reminder a.button:hover span, div.modal-box span.button:hover span {background-position: right -37px;cursor: pointer;}
div.special-offer-reminder.centered a.button {margin:0px 0px 0px 90px;}



#special-offer-reminder { display: none; }
#special-offer-reminder span.button.white.save { margin: auto 35%; }

div.modal-box div.inside.green {background: #d7e2cb url(../image/modal_box/green-bg.jpg) repeat-x;height:164px;}
div.modal-box div.inside.blue {background: #e0e7ea url(../image/modal_box/blue-bg.jpg) repeat-x 0 -2px;}
div.modal-box div.inside.red {background: #c63e3e url(../image/modal_box/red-bg.jpg) repeat-x 0 0px;height: 83px;}
div.modal-box div.inside.yellow {background: #f0a32d url(../image/modal_box/yellow-bg.jpg) repeat-x 0 0px;height: 83px;}
div.modal-box div.inside.grey {background: #d5d8db url(../image/modal_box/grey-bg.jpg) repeat-x;}
div.modal-box div.inside.pink {background: #fcd3d1 url(../image/modal_box/pink-bg.jpg) repeat-x 0 0px;height: 140px;}
div.modal-box div.inside.light-yellow {background: #f3e3c2 url(../image/modal_box/light-yellow-bg.jpg) repeat-x 0 0px;height: 140px;}
div.modal-box div.inside.caution-tape {background: #979a9c url(../image/modal_box/restricted-bg.jpg) repeat-x;height: 223px;}

/* Close Buttons */
div.modal-box span.modal-close {position: absolute;top: -13px;right: -13px;width: 35px;height: 35px;background: url(../image/modal_box/close-buttons-sprite.png) no-repeat;}
div.modal-box span.modal-close:hover {background-position: 0 -37px;cursor: pointer;}
div.modal-box span.modal-close span {display: none;}
div.modal-box span.modal-close.left {top: -13px;left: -13px;}
div.modal-box span.modal-close.black {background-position: -35px 0;}
div.modal-box span.modal-close.black:hover {background-position: -35px -36px;}
div.modal-box span.modal-close.red {background-position: -70px 0;}
div.modal-box span.modal-close.red:hover {background-position: -70px -38px;}
div.modal-box span.modal-close.yellow {background-position: -105px 0;}
div.modal-box span.modal-close.yellow:hover {background-position: -105px -38px;}

div.modal-box h3 {font-size: 30px;font-weight: bold;margin: 10px 0px 5px;color: #464646;letter-spacing: -1px;}
div.modal-box .red h3, div.modal-box .yellow h3 {color: #fffeff;margin-top: 0px;}
div#restricted-content.modal-box h3 {margin-top: 90px;}

div.modal-box p {text-shadow: rgba(255,254,255,0.5) 0 1px 0;color: #7a7a7a;margin: 5px 0px 10px;}

div.modal-box div.clear{height: 1px;clear: both;}
div.modal-box.centered {text-align: center;}

/* Image Styles */
div.modal-box img{float: left;margin-right: 20px;}
div.modal-box img.right {float: right;margin-right: 0px;margin-left: 20px;}
div.modal-box.centered img {float: none;}
div.modal-box img.pop-out {margin-top: -42px;z-index: 2001;position: absolute;left: 94px;}

/* Basic Buttons */
div.modal-box a.button, div.modal-box span.button{display: block;float: left;position: relative;height: 34px;line-height: 33px;background: url(../image/modal_box/buttons-sprite.png) no-repeat 0 -1px;padding-left: 20px;margin: 2px 30px 10px 0px;font-size: 15px;font-weight: bold;color: #585858;text-decoration: none;}
div.modal-box a.button:hover, div.modal-box span.button:hover {background-position: 0 -37px;cursor: pointer;}
div.modal-box a.button span, div.modal-box span.button span{display: block;float: left;position: relative;height: 34px;padding-right: 20px;margin-right: -20px;background: url(../image/modal_box/buttons-sprite.png) no-repeat right -1px;}
div.modal-box a.button:hover span, div.modal-box span.button:hover span {background-position: right -37px;cursor: pointer;}
div.modal-box.centered a.button {margin:0px 0px 0px 90px;}

/* Download Button */
div.modal-box a.download {display: block;float: left;position:relative;background: url(../image/modal_box/download-button-bg.png) no-repeat 0 0;height: 54px;width: 225px;padding:0px 0px 0px 55px;text-decoration: none;color: #fffeff;font-weight: bold;font-size: 20px;text-shadow: #000 0 1px 1px;line-height: 30px;}
div.modal-box a.download:hover {background-position: 0 -54px;}
div.modal-box a.download span {display: block;margin-top: 3px;font-size: 11px;line-height: 10px;}

/* Square Buttons */
div.modal-box a.button.square {height: 37px;line-height: 36px;color: #fffeff;}
div.modal-box a.button.square span {height: 37px;}
/* Yellow and Red */
div.modal-box a.button.yellow {background-position: 0 -75px;}
div.modal-box a.button.yellow span {background-position: right -75px;}
div.modal-box a.button.yellow:hover {background-position: 0 -113px;}
div.modal-box a.button.yellow:hover span {background-position: right -113px;}

div.modal-box a.button.red {background-position: 0 -152px;color: #fffeff;}
div.modal-box a.button.red span {background-position: right -152px;}
div.modal-box a.button.red:hover {background-position: 0 -190px;}
div.modal-box a.button.red:hover span {background-position: right -190px;}
/* Yellow and Red SQUARE */
div.modal-box a.button.square-red {background-position: 0 -229px;}
div.modal-box a.button.square-red span {background-position: right -229px;}
div.modal-box a.button.square-red:hover {background-position: 0 -270px;}
div.modal-box a.button.square-red:hover span {background-position: right -270px;}

div.modal-box a.button.square-yellow {background-position: 0 -312px;}
div.modal-box a.button.square-yellow span {background-position: right -312px;}
div.modal-box a.button.square-yellow:hover {background-position: 0 -354px;}
div.modal-box a.button.square-yellow:hover span {background-position: right -354px;}

/* Form Elements */
div.modal-box form input {height: 25px;width: 270px;margin: 0px 0px;border-style: none;background: transparent url(../image/modal_box/input-bg.png) no-repeat 0 0;position: relative;padding: 10px 10px;color: #9f9f9f;font-size: 13px;}
div.modal-box form input.submit {width: 81px;margin-left: -5px;position: relative;background: url(../image/modal_box/submit-bg.png) 0 0px;color: #fffeff;font-weight: bold;text-shadow: #000 0 1px 1px;font-size: 13px;}
div.modal-box form input.submit:hover {background-position: 0 -42px;cursor: pointer;}
div.modal-box form label {line-height: 20px;}
div.modal-box form fieldset {border: none;padding: 0px;line-height: 15px;margin: 8px 0px;clear: both;color: #484848;}
div.modal-box form fieldset.hidden { display: none; }
div.modal-box form input.text {width: 348px;}
div.modal-box form input.radio {margin: 5px;width: 15px;height: 15px;}
div.modal-box form input.checkbox {margin: 5px;width: 15px;height: 15px;}

div#special-offer-reminder.modal-box form {margin: 0px auto; width: 350px;}

span.modal-link {cursor: pointer;}