.felnott{
	position:absolute;
	top: 0;
	left: 0;
	margin:0;
	display:none;
}

.close-felnott {
	position: fixed;
	right:10%;
	top: 5px;
	display: block;
	height: 18px;
	cursor: pointer;
	color: #EC7700;
	font-weight:bold;
	text-decoration:none;
	z-index: 10;
}

a.close-felnott:hover {
	color:#FFF;
}

.dont-show {
	position: fixed;
	left:10%;
	top: 5px;
	display: block;
	height: 18px;
	cursor: pointer;
	color: #EC7700;
	font-weight:bold;
	text-decoration:none;
	z-index: 10;
}
			
a.dont-show:hover {
	color:#FFF;
}

