html {
	overflow: -moz-scrollbars-vertical;
	/*overflow: auto;*/
	margin: 0 ;
	padding: 0;
    /*text-align: center;*/


}


.fb_iframe_widget {
    display: inline-block;
    position: relative;
}
body {
	background-color: #ffffff;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0px;
    /*width: auto;*/
    display: block;
}


body, td, th, input, textarea, select, a {
	font-size: 12px;
}

#header_hatternek{
    background: url("../image/head.png") repeat-x, url("../image/head_total.png") repeat-x;
    background-position: center 0px, center 36px;
}
#kozepe_hatternek{
    background: url("../image/back_02.jpg") repeat-y;
    background-position: center 0px;
}
.kozepe{
    background-color: #fff;
    width: 1130px;
    padding: 15px 15px;
    margin: 0 auto;
    display: table;
}
h1, .welcome {
	color: #636E75;
	font: Verdana;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
h2 {
	color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #767676;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}

form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	/*border: 1px solid #CCCCCC;*/
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}
/* layout */
#container {
	/*width: 1500px;*/

	/*margin-left: auto;
	margin-right: auto;*/
	/*text-align: left;*/
}




#column-left {
	float: left;
	width: 220px;
    background-color: #fff;
    padding-right: 20px;
    margin-top: 10px;

}
#column-right {
	float: right;
	width: 220px;
    margin-top: 10px;

}
#content {
	min-height: 400px;
	margin-bottom: 0px;
    background-color: #fff;
    margin-top: 10px;

}
/**
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 240px;
}
**/
#column-right + #content {
	margin-right: 230px;
}
/* header */
#header {
	height: 158px;
	/*margin-bottom: 7px;
	padding-bottom: 4px;*/
	position: relative;
	z-index: 99;
    font-family: "Trebuchet MS";
    width: 1130px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#header #logo {
	position: relative;
	top: 0px;
	left: 0px;
    float: left;
}

#header #logo img{
    max-width: 300px;
}

#header #motto {
    /*position: absolute;*/
   /* top: 35px;
    left: 15px;*/
    float: left;
    padding: 4px 0 0 20px;
    font-size: 19px;
    color: #888;
    font-style:italic;
}

#header #honlapom {
    position: absolute;
    top: 56px;
    right: -132px;
    width: auto;
    display: table;
}

#header #felsosor {
    /*position: absolute;*/
    /* top: 35px;
     left: 15px;*/
    float: right;
    padding: 5px 0 0 20px;
    font-size: 15pt;

}

#header #felsosor img {
    max-width: 20px;
    height: 17px;
}



#header #felsosor span{
    font-size: 15px;
    font-weight: 100;
    top: 3px;
    position: relative;

}
#header #felsosor div{
    position: relative;
    float: left;
    height: 35px;
    bottom: 4px;
    padding-left:18px ;
    padding-right:18px ;
    border-right: 1px solid #929292;
}

#header #felsosor #currency{
    padding-left:10px ;
    padding-right:10px ;
}

#header #felsosor #language{
    padding-left:6px ;
    padding-right:6px ;
}

#header #felsosor a{
    position: relative;
    text-decoration: none;
    top: 5px;
    font-size: 15px;
    font-weight: 800;
    color: #6e6e6e;
}


#language {
	position: absolute;
	top: 0px;
	left: 2px;
	width: auto;
	color: #999;
	line-height: 40px;
    border: none;
}
#language img {
   /* float: left;*/
	cursor: pointer;
    margin: 0px 2px;
    border: none;
}
#currency {
    position: absolute;
	width: auto;
	top: 0px;
	left: 0px;
	color: #999;
	line-height: 20px;
    border: none;

}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	color: #999;
	text-decoration: none;
	margin-right: 0px;
	margin-bottom: 2px;
    cursor: pointer;
}
#currency a b {
	color: #000;
	text-decoration: none;
}


#header #cart .heading {
    margin-top: 7px;
    padding-left: 6px;
    padding-right: 0px;

}

#header #cart .heading a span{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
}


#header #cart {
	position: absolute;
	top: 108px;
	right: 0px;
	z-index: 19;
	width: 150px;
    height: 43px;
    background-image: linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -o-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.17, rgb(0,140,0)),
        color-stop(0.82, rgb(59,209,59))
    );
}


#header #cart .heading a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    top: -5px;
    position: relative;

}
#header #cart .heading  {
	padding-right: 0px;
}
#header #cart .content, #cart_elhelyezkedes .content {
	clear: both;
	display: none;
	position: absolute;
	top: 42px;
    right: 0px;
	padding: 0px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
}
/*#header #cart.active .heading {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}*/
#header #cart.active .content {
	display: block;
    z-index: 10;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
	padding-bottom: 15px;

}
.mini-cart-info td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #000;
	padding: 4px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
}


#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}

.pirosatmenet{
background-image: linear-gradient(bottom, rgb(194,18,27) 17%, rgb(253,38,48) 83%);
background-image: -o-linear-gradient(bottom, rgb(194,18,27) 17%, rgb(253,38,48) 83%);
background-image: -moz-linear-gradient(bottom, rgb(194,18,27) 17%, rgb(253,38,48) 83%);
background-image: -webkit-linear-gradient(bottom, rgb(194,18,27) 17%, rgb(253,38,48) 83%);
background-image: -ms-linear-gradient(bottom, rgb(194,18,27) 17%, rgb(253,38,48) 83%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.17, rgb(194,18,27)),
color-stop(0.83, rgb(253,38,48))
);
}
#header #felsosor .pirosatmenet a {
    color: #eeeeee;
}
#header #search {
	position: absolute;
	top: 54px;
	right:-50px;
	width: 350px;
	z-index: 15;
}
#header .button-search {
	position: absolute;
	left: 254px;
	background: url('../image/searchbutton_1.png') center center no-repeat;
	width: 46px;
	height: 34px;
    top: 2px;
	/*border-right: 1px solid #CCCCCC;*/
	cursor: pointer;
}
.button-search-module{
    background: url('../image/searchbutton_1.png') center center no-repeat;
    width: 46px;
    height: 34px;
    cursor: pointer;
    display: inline-table;
}
#search_module input{
    background: #FFF;
    padding: 1px 1px 1px 3px;
    width: 160px;
    height: 32px;
    border: 1px solid #797979;
    font-size: 15px;
    display: inline-table;

    -webkit-box-shadow: inset 3px 4px 7px -2px rgba(0,0,0,0.56);
    -moz-box-shadow:  inset 3px 4px 7px -2px rgba(0,0,0,0.56);
    box-shadow: inset 3px 4px 7px -2px rgba(0,0,0,0.56);
}

#header #search input {
	background: #FFF;
	padding: 1px 1px 1px 3px;
	width: 294px;
	height: 32px;
	border: 1px solid #797979;
    font-size: 15px;

	-webkit-box-shadow: inset 3px 4px 7px -2px rgba(0,0,0,0.56);
	-moz-box-shadow:  inset 3px 4px 7px -2px rgba(0,0,0,0.56);
	box-shadow: inset 3px 4px 7px -2px rgba(0,0,0,0.56);
}
#header #welcome {
	position: absolute;
	top: 47px;
	right: 0px;
	z-index: 5;
	width: 298px;
	text-align: right;
	color: #999999;
}
#header .links {
	position: absolute;
	right: 0px;
	bottom: 3px;
	font-size: 10px;
	padding-right: 10px;
}
#header .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	color: #38B0E3;
	text-decoration: none;
	font-size: 12px;
}
#header .links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}
/* menu */
#menu {
    position: absolute;
    bottom: 20px;
    right: 150px;
	background-color: transparent;
	height: 37px;
	line-height: 37px;
	margin-bottom: 0px;
    vertical-align: middle;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	position: relative;
	float: left;
	z-index: 20;
	padding: 6px 5px 5px 0px;
}

#menu > ul > li > a {
  font-family: Verdana, Arial, Helvetica, sans-serif;

    font-size: 15px;
    font-weight: 700;
	color: #FFF;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 15px 24px;
	margin-bottom: 0px;
	z-index: 6;
	position: relative;
}
#menu > ul > li:hover > a{
    background-image: linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -o-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.17, rgb(0,140,0)),
        color-stop(0.82, rgb(59,209,59))
    );

}


#termekek.active .termek_kategoria {
    display: block;

}
.termek_kategoria{
    display: none;
}


#menu > ul > li > div {
	display: none;
	background: #F2F2F2;
	position: absolute;
	z-index: 5;
	padding: 0px;
	border: 1px solid #c6c6c6;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	/*background: url('../image/menu.png');*/
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
	text-decoration: none;
	padding: 4px 10px 4px 10px;
    color: #6e6e6e;
	display: block;
	white-space: nowrap;
	min-width: 120px;
    border-bottom: 1px solid #d0d0d0;
    -webkit-box-shadow: 0px 1px 1px #ffffff;
    -moz-box-shadow: 0px 1px 1px #ffffff;
    box-shadow: 0px 1px 1px #ffffff;
}
#menu > ul > li ul > li > a:hover {
    background-image: linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -o-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.17, rgb(0,140,0)),
        color-stop(0.82, rgb(59,209,59))
    );
}
#menu > ul > li > div > ul > li > a {
	color: #FF0000;
}
.breadcrumb {
	color: #424242;
	margin-bottom: 10px;
    text-decoration: none;
}
.breadcrumb > a{
    color: #666666;
    text-decoration: none;
}
.breadcrumb .utolsobread{
    color: #408f6f;
    text-decoration: none;
}

.breadcrumb .utolsobread:hover{
    color: #346d53;
    text-decoration: none;
    font-weight: 900;
}
.breadcrumb > a:hover{
    color: #0c0c0c;
    text-decoration: none;

}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.success a {
    text-decoration: underline;
}

.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
	vertical-align: middle;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}

table.radio tr.sethighlight td {
    background: #F1FFDD;
}

table.radio label {
	width: 100%;
	height: 15px;
	display: inline-block;
}
.pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */
a.button, input.button {
	cursor: pointer;
	line-height: 23px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0 2px;
    color: #fff;
    text-shadow: 1px 1px #404040;
    font-weight: 700;
    font-size: 15px;
    min-width: 110px;

    background-image: linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -o-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -moz-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -webkit-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -ms-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.15, rgb(66,192,87)),
        color-stop(0.52, rgb(15,111,32))
    );



}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
    border: 1px solid #8d8d8d;
}
input.button {
	margin: 0;
	border: 0;
	height: 34px;
    border: 1px solid #8d8d8d;
	/*padding: 0px 12px 0px 12px;*/
}
a.button:hover, input.button:hover {
    background-image: linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -o-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.17, rgb(0,140,0)),
        color-stop(0.82, rgb(59,209,59))
    );
	/*background: url('../image/button-active.png') repeat-x;*/
}
.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.no-button {
    background-color: #fff;
    font-weight: 500;
    text-decoration: underline;
    color: #333;
    padding: 5px 15px 5px;
    cursor: pointer;
}

.no-button:hover {
    color: #000;
}

.no-button:active {
    border: 1px solid #0000C0;
}

.htabs {
    height: 34px;
    line-height: 16px;
    border-bottom: 1px solid #DDDDDD;
    margin-left: 0px;
    margin-top: 40px;
    width: 100%;
    display: inline-block;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;

	padding: 9px 15px 8px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px #404040;
	margin-right: 10px;
	/*display: none;*/

    background-image: linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -o-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -moz-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -webkit-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -ms-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.15, rgb(66,192,87)),
        color-stop(0.52, rgb(15,111,32))
    );
}
.htabs a.selected {
	padding-bottom: 9px;
	background: #FFFFFF;
    color: #000;
    text-shadow: none;
}
.tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	margin-left: 0px;
	z-index: 2;
	overflow: auto;
    margin-top: -3px;
}
/* box */
.box {
	margin-bottom: 20px;
}

.box-tabok{
}


.box .box-heading {
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	border: 1px solid #DBDEE1;
	/*background: url('../image/background.png') repeat-x;*/
	padding: 8px 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
    width: auto;


    background-image: linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -o-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -moz-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -webkit-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -ms-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.15, rgb(66,192,87)),
        color-stop(0.52, rgb(15,111,32))
    );
}

.box-heading-hirlevel{
    border: 1px solid #8d8d8d;
    padding: 8px 0px 7px 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    vertical-align: middle;
    color: #fff;
    width: auto;
    margin-bottom: 14px;

}
.box .hirlevel_fej {
    position: relative;
}

.box .hirlevel_fej > img{
    position: absolute;
    width: 52px;
    bottom: -4px;
    left: -3px;
}
.box .box-content {
	background: #FFFFFF;
    z-index: 0;
}
/* box products */
.box-product {
	width: 100%;
    padding-top: 20px;
    text-align: left;
}
.box-product > div {
    position: relative;
	width: 185px;
	min-height: 290px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
    background-color: #f2f2f2;
    border: 1px solid #dbdbdb;
    padding: 10px 0px 10px 16px;
}

.box-product > div > a{
    position: relative;
    width: auto;
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    right: 10px;
}

.box-product .favorit-belso {
    width: 185px;
    height: 295px;
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: 1px solid #dbdbdb;
    padding: 10px 0px 10px 20px;
    position: relative;

}

#content-top{
    position: relative;
    margin: 0 auto;
    display: inline-block !important;

}
#column-left + #column-right + #content .box-product > div {
	width: 185px;
}

.box-product .image {
	display: block;
	margin-bottom: 0px;
    text-align: center;
    width: 163px;
    height: 163px;
    line-height: 163px;
    background: url('../image/picture_border_1.png') no-repeat;
    background-size:163px 163px;
}
.box-product .image img {
	padding: 2px;
	/*border: 1px solid #E7E7E7;*/
    vertical-align: middle;
}


.box-product .szazalek_kep {
    position: absolute;
    top: -1px;
    left: 180px;
    width: 26px;
}
.box-product .uj_kep_szazalekkal {
    position: absolute;
    top: -1px;
    left: 156px;
    width: 26px;
}
.box-product .uj_kep_egyedul {
    position: absolute;
    top: -1px;
    left: 180px;
    width: 26px;
}


.box-product .name {
    min-height: 90px;
    overflow: hidden;
}

.box-product .keptermek{
    position: relative;
    width: 163px;
    height: 129px;
    line-height: 129px;
    text-align: center;
    background: url('../image/picture_border_1.png') no-repeat ;
}

.box-product .name a {
    font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #6e6e6e;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
	margin-right: 44px;
}
.puszafa{
    color: #676767;
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;

}
.box-product .price {
	display: block;
	font-weight: bold;
	color: #01673f;
    height: 28px;
    line-height: 28px;
    /*border-left: 1px solid #c7d1d5;*/
    padding-left: 5px;
	/*margin-bottom: 70px;*/
	margin-top: 14px;
    vertical-align: middle;
    font-size: 15px;
    /*background: url("../image/prica-alap.png") no-repeat;
    background-size:110px 28px*/
}

.box-product .price .netto {
    font-size: 12px;
    font-weight: 700;
    color: #636363;
    position: relative;
    left: -6px;
    bottom: 6px;
}

.box-product .netto .price-old {
    color: #949494;
    text-decoration: line-through;
}

.box-product .kedvezmeny {
    color: #070707;
    margin: 0 auto;
    padding: 0;
    bottom: 19px;
    position: relative;
    left: -6px;
    display: inline-block;
    width: auto;
    font-size: 12px;
}

.box-product .price2 {
    /*background: url("../image/prica-alap.png") no-repeat;
    background-size:165px 28px;*/
}
.box-product .price-old {
	color: #84b39f;
    text-decoration: line-through;

}
.box-product .price-new {
	font-weight: bold;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
.box-product .cart{
    margin-left:auto;
    margin-right: auto;
    bottom: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.box-product .cart > div{
    float:left; line-height: 36px; vertical-align: middle; margin-left: 0px; color: #e60001; font-size: 11px;
    font-weight: 100; background-color: #dbdbdb; height: 34px; width: 122px;
}
.box-product .cart > div > span{
    display: inline-block;
    width: 130px;
}

.mennyit_vasarol{
    width: 34px;
    height: 26px;
    box-shadow: inset 3px 4px 7px -2px rgba(0,0,0,0.56);
    border: none;
}



/* box category */
.box-category {
    background: #F2F2F2;
    position: relative;
    z-index: 0;
    padding:  0;

    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}
.box-category ul {
	list-style: none;
	padding: 0;

}
.box-category > ul > li {
    border-top: 1px solid #d8d8d8;
    -webkit-box-shadow: 0px -1px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow:    0px -1px 1px rgba(255, 255, 255, 1);
    box-shadow:         0px -1px 1px rgba(255, 255, 255, 1);
    padding: 8px 0px 0px 0px;

}

.box-category > ul > li + li {

}

.box-category > ul > li > a {
	text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    font-weight: 400;
    color: #434343;
    display: block;
    position: relative;
    max-width: 205px;
    padding: 12px 15px 12px 15px;
    list-style: none;
}

.box-category > ul > li ul {
	display: none;
    list-style: none;

}

.box-category > ul > li > a.active{
    font-weight: 900;
    color: #000;
}

.box-category > ul > li  a.active + ul {
	display: block;
}



.box-category > ul > li ul > li {
    padding: 5px 5px 0px 10px;
    background: #e8e8e8;
    border-bottom: 1px solid #d0d0d0;
    -webkit-box-shadow: 0px -1px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow:    0px -1px 1px rgba(255, 255, 255, 1);
    box-shadow:         0px -1px 1px rgba(255, 255, 255, 1);
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    font-weight: 400;
    color: #434343;
    position: relative;
    max-width: 185px;
    padding: 9px 15px 9px 25px;
}

.box-category > ul > li ul > li > a.active {
	font-weight: bold;
    color: #000;

}



.box-category li a:hover{
    color: #959595;
}







.box-content-information{
    position: relative;
    width: 220px;
    background: #F2F2F2;
    margin: 0;
    padding: 0;

}
.box-content-information ul {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    padding: 0;
}
.box-content-information ul li{
    background: #F2F2F2;
    padding: 0px;
    border-top: 1px solid #d8d8d8;
    -webkit-box-shadow: 0px -1px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow:    0px -1px 1px rgba(255, 255, 255, 1);
    box-shadow:         0px -1px 1px rgba(255, 255, 255, 1);
}
.box-content-information ul li a{
    list-style: none;
    text-decoration: none;
    display: block;
    padding: 12px 10px 12px 20px;
    font-weight: 100;
    color: #434343;
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif;

}



.home_kozep{
    /*position: relative;
    width: 180px;*/
   /* float: left;*/
    /*z-index: 0;*/
}

.harmas_fejlec{
    position: relative;
    border-bottom: 1px solid #c6c6c6;
    text-align: left;
    padding: 0;
    margin: 0;
    height: 33px;
}

.kiemelt_kozep{

    position: relative;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 8px;
    /*width: 150px;*/
    display: inline-block;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #404040;
    font-weight: 700;
    font-size: 15px;
    margin-right: 10px;
    border: 1px solid #a7a7a7;
    border-bottom: 0;
    top: 0;

    background-image: linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -o-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -moz-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -webkit-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);
    background-image: -ms-linear-gradient(top, rgb(66,192,87) 15%, rgb(15,111,32) 72%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.15, rgb(66,192,87)),
        color-stop(0.52, rgb(15,111,32))
    );

}

.kiemelt_kozep_szurke{

    position: relative;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 14px;
    padding: 8px;
    display: inline-block;
    margin-right: 10px;

    text-align: center;
    color: #6e6e6e;
    font-weight: 700;
    border: 1px solid #c6c6c6;
    background: #Fff;
    top: 0;

    padding-bottom: 8px;
    border-bottom: none;
    z-index: 14;
}

.kiemelt_kozep:hover{
    background-image: linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -o-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(0,140,0) 17%, rgb(59,209,59) 82%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.17, rgb(0,140,0)),
        color-stop(0.82, rgb(59,209,59))
    );

}

/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
}

.sub-category-info{
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    max-width: 100px;
}

.sub-category-info .category-name{
    color: #6e6e6e;
    font-size: 13px;
    padding-bottom: 5px;
    display: block;
}
.sub-category-info .category-description{
    color: #6e6e6e;
    font-size: 13px;

}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	border: 1px solid #E7E7E7;
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: left;
	width: 18%;
}
.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 5px;
	overflow: auto;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort {
	float: right;
	color: #333;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare {
	padding-top: 6px;
	margin-bottom: 25px;
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
    color: #d90000;
}
.product-list > div {
    overflow: hidden;
    margin-bottom: 15px;
}

.product-list > div > div{
    display: table;
}
.product-list .right {
    float: right;
    margin-left: 15px;
}

.product-list .left {
    float: left;
}

.product-list > div + div {
    border-top: 1px solid #EEEEEE;
    padding-top: 16px;
}
.product-list .image {
    float: left;
    margin-right: 10px;
}
.product-list .image img {
    padding: 3px;
    border: 1px solid #E7E7E7;
}
.product-list .name {
    margin-bottom: 3px;
}
.product-list .name a {
	/*color: #38B0E3;
	font-weight: bold;
	text-decoration: none;*/
    font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6e6e6e;
    font-weight: bold;
    text-decoration: none;

}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
    font-size: 16px;
	height: 50px;
	margin-left: 8px;
	text-align: right;
	color: #333333;
	font-size: 12px;
}
.product-list .price-old {
	color: #84b39f;
	text-decoration: line-through;
    font-size: 16px;
    margin-right: 10px;
}
.product-list .price-new {
	font-weight: bold;
    font-size: 16px;
    color: #01673f;
}
.product-list .price-tax {
	font-size: 14px;
	font-weight: normal;
	color: #b5b5b5;
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}
.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
	width: 130px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 15px;
}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.product-grid .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 4px;
}
.product-grid .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
}
.product-grid .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}

.box-product .wishlist a {
    color: #333333;
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('../image/add.png') left center no-repeat;
}
.box-product .compare a {
    color: #333333;
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('../image/add.png') left center no-repeat;
}
.product-grid .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
/* Product */
.product-bejelentkezes{
    background-color: #F2F2F2;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-bottom: 40px;
    color: #686868;
    font-size: 16px;
    padding-left: 20px;
    font-weight: bold;
}

.product-info {
	/*overflow: auto;*/
	margin-bottom: 20px;
}

.product-info .left {
    margin-right: 20px;
    display: inline-table;
    float: left;
}
.product-info .left + .right {
	/*margin-left: 265px;*/
    display: table;
}

.product-info .image {
	border: 1px solid #E7E7E7;
	/*float: left;*/
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
    position: relative;
    display: inline-table;
}
.product-info .image-additional {
	width: 300px;
	margin-left: -10px;
	/*clear: both;
	overflow: hidden;*/
    display: table;
}
.product-info .image-additional img {
	border: 1px solid #E7E7E7;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
}
.product-info .description {
	padding: 0px 5px 10px 5px;
	/*line-height: 20px;*/
    font-weight: bold;
    color: #7f7f7f;


}
.product-info .description span {
    font-weight: bold;
	color: #51a95f;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	overflow: auto;
    font-weight: bold;
    color: #01673f;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;

}
.product-info .price_egyedul {
    color: #01673f;
    height: 34px;
    line-height: 34px;
    border-left: 1px solid #c7d1d5;
    padding-left: 5px;
    font-size: 18px;
    font-weight: bold;
    background: url("../image/prica-alap.png") no-repeat;
    background-size:100% 34px;
    display: table;
    width:auto;
    padding-right: 20px;
}

.product-info .price_ujarral {
    color: #01673f;
    height: 34px;
    line-height: 34px;
    border-left: 1px solid #c7d1d5;
    padding-left: 5px;
    font-size: 18px;
    font-weight: bold;
    background: url("../image/prica-alap.png") no-repeat;
    background-size:100% 34px;
    display: table;
    width:auto;
    padding-right: 20px;
}
.product-info .price_ujarral .price-old{
    color: #84b39f;
    text-decoration: line-through;
    margin-right: 10px;
}
/*.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
}*/
.product-info .price-tax {
	font-size: 15px;
	font-weight: 700;
	color: #000000;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
    margin-top: 10px;
}
.product-info .bal {
    float: left;


}
.product-info .jobb {
    display: inline-table;
   /* float: right;*/
}

.product-info .osszehasonlit {
    margin-top: 3px;
}
.kivansag{
    background: url("../image/add.png") no-repeat;
    background-position: 3px 3px;
    display: block;
    width: 140px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #bdcfd3;
    text-decoration: none;
    text-align: left;
    color: #4D4D4D;
    margin-bottom: 5px;
    padding-left: 23px;
}
.hasonlit{
    background: url("../image/add.png") no-repeat;
    background-position: 3px 3px;
    display: block;
    width: 140px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #bdcfd3;
    text-decoration: none;
    text-align: left;
    color: #4D4D4D;
    padding-left: 23px;

 }
.kivansag:hover, .hasonlit:hover{
    color: #000000;
}{
    color: #000000;
}


.product-info .options {
	/*border-bottom: 1px solid #E7E7E7;*/
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	/*border-bottom: 1px solid #E7E7E7;*/
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 12px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}



 .prod-status {
    margin-bottom: 25px
}

 .prod-status span {
    padding: 0 0 0 9px;
    margin-right: 9px;
    border-left: 1px solid #ccc
}

 .prod-status .prod-stock-info {
    padding-left: 20px
}

.prod-status .ico-in-stock {
    background-position: 5px -100px
}

 .prod-status .ico-available {
    background-position: 5px -120px
}

.prod-status .ico-not-available {
    background-position: 5px -140px
}

.prod-status span:first-child {
    padding-left: 0;
    border-left: none
}

 .image-container {
    width: 180px;
    margin: 0 20px 0 0
}

.prod-details-block {
    float: left;
    width: 370px
}




.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
    /*width: 600px;*/
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}

@font-face
{
    font-family: Trebuchet MS;
    src: url(Trebuchet%20MS.ttf);
}

#email_address{
    min-width: 80%;
    height: 22px;
    margin-bottom: 10px;

    -webkit-box-shadow: inset 2px 3px 7px -2px rgba(0,0,0,0.56);
    -moz-box-shadow:  inset 2px 3px 7px -2px rgba(0,0,0,0.56);
    box-shadow: inset 2px 3px 7px -2px rgba(0,0,0,0.56);

}

#messagebox{
    min-width: 80%;
    max-width: 80%;
    max-height: 240px;
    min-height: 80px;
    height: 22px;
    -webkit-box-shadow: inset 2px 3px 7px -2px rgba(0,0,0,0.56);
    -moz-box-shadow:  inset 2px 3px 7px -2px rgba(0,0,0,0.56);
    box-shadow: inset 2px 3px 7px -2px rgba(0,0,0,0.56);

}
#submit{
    margin-top: 8px;
    border: 1px solid  #9a9a9a;
    width: 80px;
    height: 30px;
    font-weight: bold;
    background: #42c058; /* Old browsers */
    background: -moz-linear-gradient(top, #42c058 0%, #0f6f20 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#42c058), color-stop(100%,#0f6f20)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #42c058 0%,#0f6f20 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #42c058 0%,#0f6f20 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #42c058 0%,#0f6f20 100%); /* IE10+ */
    background: linear-gradient(to bottom, #42c058 0%,#0f6f20 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42c058', endColorstr='#0f6f20',GradientType=0 ); /* IE6-9 */
    color: #fff;
}


#powered {
    background: url("../image/footer_l.png") repeat-x;
    height: 35px;
    font-family: verdana;
	text-align: center;
    padding-top: 18px;
	clear: both;
    font-size: 11px;
    /*position: absolute;*/
    /*width: 1500px;*/
    top: 15px;
    left: 0px;
}
#powered a{
    text-decoration: none;
    color:#000;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}

#logok{
    /*float: right;
    position: absolute;
    right:105px;
    bottom: 130px;
    z-index: 2;
    */
    position: relative;
    z-index: 30;
    float: right;
}

ol, ul {
    list-style: none
}

.icon_meret{
    width: 30px;
    float: right;
}
.ikonok{
    width: 30px;
    float: right;
    top: -10px;
    position: relative;
    left: 1px;
}
/* #left-sidebar {
    float: left;
    margin-right: 24px;
    width: 220px;
    margin-bottom: 15px;
}
ul.side-nav{
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
ul.side-nav {
    padding: 8px 0;
    background-color: #ffe4a2;
}
.side-nav a {
    color: #574c44;
    text-decoration: none;
    display: block;
    list-style: none;
}
.side-nav li, .side-nav li ul {
    float: left;
    width: 100%;
}
.side-nav > li > a {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    border-top: 1px solid #fff2d1;
}
.side-nav > li > a:hover {
    background-color: #f7ce69;
}
.side-nav > li:first-child > a {
    border: none;
}
.side-nav > li.active > a {
    font-weight: 700;
    color: #fff;
    text-shadow: 0 -1px #d6680f;
    background: #f68703;
    background: -moz-linear-gradient(top, #f68703 0%, #d6680f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f68703), color-stop(100%,#d6680f));
    background: -webkit-linear-gradient(top, #f68703 0%,#d6680f 100%);
    background: -o-linear-gradient(top, #f68703 0%,#d6680f 100%);
    background: -ms-linear-gradient(top, #f68703 0%,#d6680f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68703', endColorstr='#d6680f',GradientType=0 );
    background: linear-gradient(top, #f68703 0%,#d6680f 100%);
}
.side-nav li ul {
    padding: 10px 0 15px;
    background: #fff7e1 url(../image/sidenav_shadow.png) repeat-x;
}
.side-nav li li a {
    height: 24px;
    padding-left: 25px;
    line-height: 24px;
    font-size: 12px;
}
.side-nav li li a:hover {
    background-color: #ffe4a2;
}
.side-nav li li.active > a {
    font-weight: 700;
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    background-color: #fff;
}

.clearfix, .checkbox-container, .lightbox-combo, .prod-list li, .prod-list, .prod-grid li, .prod-grid, .pager, .pager-bar, .order-bar, #subcategory-chooser, #checkout-process-incicator, form.general fieldset, .tab-content, .title-block, .comment-list, .comment-list li, .comment-list .comment-header, .box, #news-block [id*="news-post-"], ul.accordion, ul.accordion ul, ul.accordion li>div, ul.checkbox-list li, .text-input-container {
    zoom: 1
}

.clearfix .overflow-hidden {
    padding-left: 20px;
}

.clearfix {

}*/
.kapcsolat {
    position: relative;
}

.piacter {
    margin: 15px 0 0 0;
    padding: 0px;
}

.piacter .sotet, .vilagos {
    overflow: auto;
}

.piacter .sotet {
    background-color: #ffffff;
}

.piacter .vilagos {
    background-color: #f6f6f6;
}


/* NIVO SLIDER AREA */
#slider {
    background:url(image/loader.gif) 50% 52% no-repeat;
    list-style:none;
    width:100px;
    padding:0;
    margin:0;
    position:relative;
    overflow:hidden;
}
.nivoSlider {
    position: relative;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display: none;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
}
/* Caption styles */
.nivo-caption {
    position:absolute;
    left:0px;
    bottom:0px;
    background:#000;
    color:#fff;
    opacity:0.8; /* Overridden by captionOpacity setting */
    width:100%;
    z-index:8;
}
.nivo-caption p {
    padding:5px;
    margin:0;
}
.nivo-caption a {
    display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position:absolute;
    bottom: 25px;
    z-index:9;
    cursor:pointer;
}
.nivo-prevNav {
    left:0px;
}
.nivo-nextNav {
    right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
    position:relative;
    z-index:9;
    cursor:pointer;
}
.nivo-controlNav a.active {
    font-weight:bold;
}
/* slider theme */
.slideshow {
    margin-bottom: 20px;
    position: relative;
    background: url('../image/loader.gif') 50% 52% no-repeat;
    /*right: 20px;*/
    width: auto;
}
.slideshow a {
    border: 0;
    display: block;
}
.nivo-controlNav {
    position: absolute;
    right: 10px;
    text-align: center;
    z-index: 99;
}
.nivo-controlNav a {
    vertical-align: top;
    display: block;
    width: 22px;
    height: 22px;
    background: url('../image/bullets.png') no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:3px;
    float:left;
}
.nivo-controlNav a.active {
    background-position:0 -22px;
}
.nivo-directionNav a {
    display:block;
    width:25px;
    height:25px;
    background:url('../image/nivo-prev.png') no-repeat;
    text-indent:-9999px;
    border:0;
    z-index: 1000;
}
.nivo-directionNav a:hover {
    background:url('../image/nivo-prev-hover.png') no-repeat;
}

a.nivo-nextNav {
    background:url('../image/nivo-next.png') no-repeat;
    right:70px;
}
a.nivo-nextNav:hover {
    background:url('../image/nivo-next-hover.png') no-repeat;
}
a.nivo-prevNav {
    left:70px;
}
.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a {
    color:#efe9d1;
    text-decoration:underline;
}

.controlnav-thumbs .nivoSlider {

}
.controlnav-thumbs .nivo-controlNav {
    position:absolute;
    left: 0px;
    right: 0px;
    bottom: 0px; /* Tweak this to push thumbnails down */
    margin:0;
    text-align: center;
    height: 74px;
    background: url('../image/bg_slideshow.png') repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c353430', endColorstr='#4c353430');
    padding-left: 15px;
}
.controlnav-thumbs .nivo-controlNav a {
    display:inline;
    background:none;
    text-indent:0px;
    border:0;
    margin-right:15px;
    float:none;
}
.controlnav-thumbs .nivo-controlNav a.active img {
    opacity: 1;
    border: 2px solid #FFFFFF;
}
.controlnav-thumbs .nivo-controlNav img {
    display:inline;
    position:relative;
    cursor:pointer;
    border: 2px solid #010101;
    opacity: 0.5;
    margin-top: 18px;
}
.controlnav-thumbs .nivo-controlNav img:hover {
    opacity: 1;
    border: 2px solid #FFFFFF;
}

/* Tg helios Html Module */

#html-wrapper {
    width: 999px;
    background: #FFF;
    margin-top: 15px;
    padding-bottom: 0px;
    position: relative;
    left: -20px;
}
.html-name {
    background: #e9e9e9;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    width: 980px;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d5d5d5;
}
#html-wrapper .html-4:first-child  {
    margin-left: 0px;
}
#html-wrapper .html-4  {
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 23px;
    vertical-align: top;
    width: 308px;
    text-align: justify;
    color: #000000!important;
    font-weight: normal;
}

#html-wrapper .html-4 img {
    width: 332px;

}
#html-wrapper .html-4 p {
    line-height: 20px;
}
#html-wrapper .html-4 div a {
    color: #555555;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
}

#html-wrapper .html-4 div a span {
    background-image: url("../image/bullet.png");
    background-position: 9px center;
    background-repeat: no-repeat;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    line-height: 14px;
    margin: 24px 15px 20px 10px;
    padding: 8px 23px 7px;
    text-transform: uppercase;
}

#html-wrapper .html-4 div h3{
    color: #555555;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
}

#carousel_cont {
    height: 100px;
    background: #ffffff;
    width: 954px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position: relative;
    top: -0px;
    left: -23px;
    margin-bottom: 20px;
}
#carousel_man {
    height: 100px;
    float: left;
    width: 1000px !important;
    text-align:center;
    vertical-align:middle;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top:solid #474747 1px;
    border-bottom:solid #474747 1px;

}
#carousel_man li{
    margin-left: 5px;
    margin-right: 5px;
    width:230px;;
    height:100px;
}

#carousel_man li a{
    color:#000000;
}


#carousel_man li img{
    height: 100px;
}

#carousel_cont a.prevsmall {
    float:left;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
#carousel_cont a.nextsmall {
    float:left;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}


#bottomwrapper {
    display: table;
    width: 1130px;
}

.footer-holder {

}
.footer_category{

    width: 1130px;
    margin-left: auto;
    margin-right: auto;
}
.footer_category li {
    display: inline-table;
}

.csomagolasi_mennyiseg_lista {
    color: #e60001;
    font-size: 11px;
    font-weight: 100;
    background-color: #dbdbdb;
    padding: 5px 5px 5px 5px;
    display: inline-block;
}
.ico-print{
    margin: 0 5px;
}
.ico-emailshare{
    margin: 0 5px;
}

.box .box-content ul {
    padding: 0;
}

.arhoz_megjegyzesek {
    margin-bottom: 15px;
}
.arhoz_megjegyzesek span {
    display: block;
}

/* box filter */
ul.box-filter, ul.box-filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.box-filter span {
    font-weight: bold;
    border-bottom: 1px solid #EEEEEE;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 8px;
}
ul.box-filter > li ul {
    padding-bottom: 10px;
}

#tab-general input {
    width: 100%;
}

/* footer */
#footer {
    position: relative;
    background: #327f3d url("../image/footer_image.png") repeat;
    border-top: 1px solid #DBDEE1;

    /* width: 1130px;
     margin: 0 auto;
     position: relative;*/
}

#footer > div{
    position: relative;
    padding: 20px 0 0 0px;
    margin: 0 auto;
    width: 1130px;
}


.footer_doboz {
    width: 220px;
    display: inline-table;
    vertical-align: top;
}




#footer .footer_doboz:first-child {
    margin-left: 0px;
}

#footer_facebook_button > div, #footer_facebook_button > iframe {
    display: inline-block;
}
#footer .column2 {
    margin-right: 23px !important;
    width: 100%;
    list-style: none;
}

#footer .column2 ul {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    list-style: none !important;
}
#footer .column2 ul li {
    margin-bottom: 3px;
    color: #daf1db;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    padding-left: 0px;
    clear: left;

}


#footer .column2 ul li .ceg_ikon {
    width: 25px;
    display: table;
    float: left;
}

#footer .column2 ul li .ceg_cime {
    width: auto;
    display: table;
    float: left;
    position: relative;
    top: 5px;
}

#footer .column2 ul li img {

}



#footer h3 {
    letter-spacing: normal;
    /*font-family: !important "Trebuchet MS";*/
    font-weight: bold;
    color: #daf1db;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(70, 46, 35, 0.34);
    width: 70%;

}
#footer .column {
    width: 24%;
    min-height: 100px;
    display: inline-table;
    vertical-align: top;
}
#footer .column ul {
    margin-top: 0px;
    margin-left: 0;
    padding-left: 0;
    margin-right: 20px;
}
#footer .column ul li {
    list-style: none;
    margin-bottom: 3px;
    color: #daf1db;
    font-size: 13px;
    padding-left: 0;
    /*font-family:important verdana;*/
}
#footer .column a {
    text-decoration: none;
    color: #daf1db;
    font-size: 13px;
    text-decoration: none;

}
#footer .column a:hover {
    text-decoration: none;
    color: #42c058;

}

.content ul > li > ul {
    padding-top: 3px;
}
.content ul > li > ul > li {
    list-style: disc;
    list-style-position: inside;
}

#column-left .box-product > div {
    margin-right: 0px;
    display: table;
    margin: 0 auto;
}

/* Teljes képernyő */
@media all and (min-width: 1280px) {
    #column-left + #column-right + #content, #column-left + #content {
        margin-left: 240px;
    }

    .balra {
        margin-right: 11px;
    }

    .jobbra {
        margin-right: 11px;
    }
}

/* 4 oszlop */
@media all and (min-width: 1105px) and (max-width: 1279px) {
    #column-left + #column-right + #content, #column-left + #content {
        margin-left: 240px;
    }

    #content {
        max-width: 1000px;
    }

    .balra {
        margin-right: 11px;
    }

    .jobbra {
        margin-right: 11px;
    }
}

/* 3 oszlop, menü nélkül */
@media all and (min-width: 888px) and (max-width: 1104px) {
    #column-left {
        display: none;
    }

    #content {
        margin-left: 0px;
        /*max-width: 827px;*/
    }

    .balra {
        margin-right: 50px;
    }

    .jobbra {
        margin-right: 50px;
    }
}

/* 3 oszlop */
@media all and (max-width: 887px) {
    #column-left {
        display: none;
    }

    #content {
        margin-left: 0px;
        max-width: 700px;
    }

    .balra {
        margin-right: 70px;
    }

    .jobbra {
        margin-right: 70px;
    }
}

.checkout-product.altalanos {
	margin-bottom: 10px;
	/*background: #F8F8F8;
    padding: 10px 0 15px 8px;;*/
	padding: 0;
	border: 1px solid #ddd;
}

.checkout-product.altalanos .fo-fejlec {
	/*font-size: 15px;*/
	font-weight: 900;
	color: #4D4D4D;
	margin-bottom: 15px;
	padding: 8px;
	background: #F8F8F8;
	border-bottom: 1px solid #ddd;

}

.checkout-product .szamlazas {
	padding: 2px 0px 2px 15px;
}

.checkout-product .szamlazas .fejlec {
	min-width: 11%;
	display: inline-block;
	font-weight: 900;
	color: #4D4D4D;
}
.checkout-product .szamlazas .ertek {
	display: inline-block;
	width: 87%;
}
.checkout-product .szamlazas .ertek textarea {
	width: 100%;
	border: none;
	padding-left: 0;
	padding-top: 0;
}
#payment-method .checkout-content .buttons .right {
	width: 100%
}