.fogalom_magyarazo {
    box-sizing: border-box;
    position: absolute;
    min-width: 300px;
    max-width: 400px;
    height: auto;
    background-color: #f1f1f1;
    border: 1px solid #DBDBDB;
    z-index: 10;
    padding: 1px;
}
.fogalom_magyarazo .fogalom_name {
    box-sizing: border-box;

    width: 70%;
    display: inline-block;
    padding: 6px 0;
    font-weight: 700;
}
.fogalom_magyarazo .fogalom_close {
    box-sizing: border-box;

    width: 28%;
    display: inline-block;
    padding: 6px 0;
    text-align: right;
    font-weight: 700;
    cursor: pointer;
    font-size: 10px;

}
.fogalom_fejlec {
    background-color: #ddd;
    padding: 0 4px;
}
.fogalom {
    background-color: #f1f1f1;
    padding: 4px;
    min-height: 50px;

}

a.fogalom_szo {
    text-decoration: underline;
    color: #104f9c;
    font-weight: 700;
    cursor: pointer;
}

