
    <div class="box">

        <div id="mf-artolszazalek" class="box-content box-filter_artol box-filter">

            <input type="text"  data-slider="true" data-slider-step="1" data-slider-range="0,90" data-slider-highlight="true"
                   value="<?php echo $filter_arszazalek; ?>" id="filter_arszazalek"  />
        </div>
    </div>
