<?php if((isset($options) && $options) || $beallitasok['valasztek']['teljes'] == 1){ ?>

    <?php if ($beallitasok['valasztek']['teljes'] != 1) { ?>
        <?php foreach ($options as $option) { ?>
            <div class="box">
                <div class="box-heading reszek masodik-filter"><?php echo $option['name']; ?>
                    <img style="display: none"  src="catalog/view/theme/default/image/responsive/pos_r_opened.png">
                </div>

                <div class="box-content">
                    <ul class="box-filter box-filter-valasztek">
                        <?php foreach ($option['options'] as $value) { ?>

                            <?php if (!empty($value['name'])) { ?>
                                <?php if (in_array($value['option_value_id'], $filter_valasztek)) { ?>
                                    <li><input class="css-checkbox" type="checkbox" value="<?php echo $value['option_value_id']; ?>" id="option<?php echo $value['option_value_id']; ?>"  checked="checked"/>
                                        <label class="css-label mac-style" for="option<?php echo $value['option_value_id']; ?>"><?php echo $value['name']; ?></label>
                                    </li>
                                <?php }  else {?>
                                    <li><input class="css-checkbox" type="checkbox" value="<?php echo $value['option_value_id']; ?>" id="option<?php echo $value['option_value_id']; ?>" />
                                        <label class="css-label mac-style" for="option<?php echo $value['option_value_id']; ?>"><?php echo $value['name']; ?></label>
                                    </li>
                                <?php } ?>
                            <?php } ?>

                        <?php } ?>
                    </ul>
                </div>
            </div>
        <?php }?>
    <?php } else {?>
        <?php foreach ($options_teljes as $option_teljes) { ?>
            <?php $talalt = false;
            if (isset($options) && !empty($options)) {
                foreach($options as $option_key=>$option) {
                    if ($option['option_id'] == $option_teljes['option_id'])  {
                        $talalt = true;
                        break;
                    }
                }
            }
            ?>

            <?php if ($talalt) { ?>

                <div class="box">
                    <div class="box-heading reszek masodik-filter"><?php echo $option_teljes['name']; ?>
                        <div class="togglebutton"><img /></div>
                    </div>

                    <div class="box-content">
                        <ul class="box-filter box-filter-valasztek">
                            <?php foreach ($option_teljes['options'] as $value) { ?>
                                <?php $bennevan = false; ?>
                                <?php foreach($options[$option_key]['options'] as $option) {?>
                                    <?php if ($value == $option) { ?>
                                        <?php $bennevan = true;?>
                                        <?php break;?>
                                    <?php }?>
                                <?php }?>

                                <?php if ($bennevan) {?>

                                    <?php if (in_array($value['option_value_id'], $filter_valasztek)) { ?>
                                        <li><input class="css-checkbox" type="checkbox" value="<?php echo $value['option_value_id']; ?>" id="option<?php echo $value['option_value_id']; ?>"  checked="checked"/>
                                            <label class="css-label mac-style" for="option<?php echo $value['option_value_id']; ?>"><?php echo $value['name']; ?></label>
                                        </li>
                                    <?php }  else {?>
                                        <li><input class="css-checkbox" type="checkbox" value="<?php echo $value['option_value_id']; ?>" id="option<?php echo $value['option_value_id']; ?>" />
                                            <label class="css-label mac-style" for="option<?php echo $value['option_value_id']; ?>"><?php echo $value['name']; ?></label>
                                        </li>
                                    <?php } ?>

                                <?php } else {?>

                                    <li><input class="css-checkbox" type="checkbox" value="<?php echo $value['option_value_id']; ?>" id="option<?php echo $value['option_value_id']; ?>" disabled="disabled"/>
                                        <label class="css-label mac-style halvany" for="option<?php echo $value['option_value_id']; ?>" ><?php echo $value['name']; ?></label>
                                    </li>
                                <?php } ?>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
            <?php } else {?>
                <div class="box">
                    <div class="box-heading reszek masodik-filter"><?php echo $option_teljes['name']; ?>
                        <div class="togglebutton"><img /></div>
                    </div>

                    <div class="box-content">
                        <ul class="box-filter box-filter-valasztek">
                            <?php foreach ($option_teljes['options'] as $value) { ?>


                                <li><input class="css-checkbox" type="checkbox" value="<?php echo $value['option_value_id']; ?>" id="option<?php echo $value['option_value_id']; ?>" disabled="disabled"/>
                                    <label class="css-label mac-style halvany" for="option<?php echo $value['option_value_id']; ?>" ><?php echo $value['name']; ?></label>

                                </li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
            <?php } ?>
        <?php } ?>
    <?php } ?>
















<?php }?>