<?php echo $header; ?>
<div id="content">
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <?php if ($error_warning) { ?>
  <div class="warning"><?php echo $error_warning; ?></div>
  <?php } ?>
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/order.png" alt="" /> <?php echo $heading_title; ?></h1>
      <div class="buttons"><a onclick="$('#form').submit();" class="button"><?php echo $button_save; ?></a><a onclick="location = '<?php echo $cancel; ?>';" class="button"><?php echo $button_cancel; ?></a></div>
    </div>
    <div class="content">
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
        <table class="form">
            <tr>
                <td><span class="required">*</span> <?php echo $entry_name; ?></td>
                <td>
                    <?php foreach ($languages as $language) { ?>
                        <input type="text" name="attribute_group_description[<?php echo $language['language_id']; ?>][name]" value="<?php echo isset($attribute_group_description[$language['language_id']]) ? $attribute_group_description[$language['language_id']]['name'] : ''; ?>" />
                        <img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /><br />
                        <?php if (isset($error_name[$language['language_id']])) { ?>
                            <span class="error"><?php echo $error_name[$language['language_id']]; ?></span><br />
                        <?php } ?>
                    <?php } ?>
                </td>
            </tr>
            <tr>
                <td><?php echo $entry_sort_order; ?></td>
                <td><input type="text" name="sort_order" value="<?php echo $sort_order; ?>" size="1" /></td>
            </tr>
            <tr>
                <td><?php echo $entry_szuro_bovit; ?></td>
                <td><select name="multifilter_szukit">
                        <option value="1" <?php echo $multifilter_szukit == 1 ? "selected" : ""?>><?php echo $text_szukit;?></option>
                        <option value="2" <?php echo $multifilter_szukit == 2 ? "selected" : ""?>><?php echo $text_bovit;?></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><?php echo $entry_szuro_csuszka; ?></td>
                <td><select name="multifilter_csuszka">
                        <option value="1" <?php echo $multifilter_csuszka == 1 ? "selected" : ""?>><?php echo $text_yes;?></option>
                        <option value="2" <?php echo $multifilter_csuszka == 2 ? "selected" : ""?>><?php echo $text_no;?></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><?php echo $entry_vezerel_kategoriat; ?></td>
                <td><select name="vezerel_kategoriat">
                        <option value="1" <?php echo $vezerel_kategoriat == 1 ? "selected" : ""?>><?php echo $text_yes;?></option>
                        <option value="2" <?php echo $vezerel_kategoriat == 2 ? "selected" : ""?>><?php echo $text_no;?></option>
                    </select>
                </td>
            </tr>
        </table>
      </form>
    </div>
  </div>
</div>
<?php echo $footer; ?>