<?php echo $header; ?>
<div id="content">
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <?php if ($error_warning) { ?>
  <div class="warning"><?php echo $error_warning; ?></div>
  <?php } ?>
  <?php if ($success) { ?>
  <div class="success"><?php echo $success; ?></div>
  <?php } ?>
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/order.png" alt="" /> <?php echo $heading_title; ?></h1>
      <div class="buttons">
          <a onclick="location = '<?php echo $insert; ?>'" class="button"><?php echo $button_insert; ?></a>
          <a onclick="$('form').submit();" class="button"><?php echo $button_delete; ?></a>
      </div>
    </div>
    <div class="content">
      <form action="<?php echo $delete; ?>" method="post" enctype="multipart/form-data" id="form">
        <table class="list">
          <thead>
            <tr>
              <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>

              <td class="left"><?php if ($sort == 'name') { ?>
                <a href="<?php echo $sort_name; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_name; ?></a>
                <?php } else { ?>
                <a href="<?php echo $sort_name; ?>"><?php echo $column_name; ?></a>
                <?php } ?>
              </td>

                <td class="right"><?php if ($sort == 'szinkod') { ?>
                        <a href="<?php echo $sort_szinkod; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_szinkod; ?></a>
                    <?php } else { ?>
                        <a href="<?php echo $sort_szinkod; ?>"><?php echo $column_szinkod; ?></a>
                    <?php } ?>
                </td>

              <td class="right"><?php if ($sort == 'sort_order') { ?>
                <a href="<?php echo $sort_sort_order; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_sort_order; ?></a>
                <?php } else { ?>
                <a href="<?php echo $sort_sort_order; ?>"><?php echo $column_sort_order; ?></a>
                <?php } ?>
              </td>

              <td class="right"><?php echo $column_action; ?></td>
            </tr>
          </thead>
          <tbody>
            <tr class="filter">
                <td></td>

                <td><input type="text" name="filter_szin" value="<?php echo $filter_szin; ?>" /></td>

                <td class="right"><input type="text" name="filter_szinkod" value="<?php echo $filter_szinkod; ?>" /></td>
                <td></td>
                <td align="right"><a onclick="filter();" class="button"><?php echo $button_filter; ?></a></td>
            </tr>


            <?php if ($option_szinek) { ?>
                <?php foreach ($option_szinek as $option_szin) { ?>
                    <tr>
                      <td style="text-align: center;"><?php if ($option_szin['selected']) { ?>
                        <input type="checkbox" name="selected[]" value="<?php echo $option_szin['option_szin_id']; ?>" checked="checked" />
                        <?php } else { ?>
                        <input type="checkbox" name="selected[]" value="<?php echo $option_szin['option_szin_id']; ?>" />
                        <?php } ?></td>
                      <td class="left"><?php echo $option_szin['name']; ?></td>
                      <td class="right"><?php echo $option_szin['szinkod']; ?></td>
                      <td class="right"><?php echo $option_szin['sort_order']; ?></td>
                      <td class="right"><?php foreach ($option_szin['action'] as $action) { ?>
                        [ <a href="<?php echo $action['href']; ?>"><?php echo $action['text']; ?></a> ]
                        <?php } ?>
                      </td>
                    </tr>
                <?php } ?>
            <?php } else { ?>
                <tr>
                  <td class="center" colspan="4"><?php echo $text_no_results; ?></td>
                </tr>
            <?php } ?>
          </tbody>
        </table>
      </form>
      <div class="pagination"><?php echo $pagination; ?></div>
    </div>
  </div>
</div>

<script>
    function filter() {
        url = 'index.php?route=catalog/option_szin&token=<?php echo $token; ?>';

        var filter_szin = $('input[name=\'filter_szin\']').attr('value');
        if (filter_szin) {
            url += '&filter_szin=' + encodeURIComponent(filter_szin);
        }

        var filter_szinkod = $('input[name=\'filter_szinkod\']').attr('value');
        if (filter_szinkod) {
            url += '&filter_szinkod=' + encodeURIComponent(filter_szinkod);
        }

        <?php if (!empty($sort)) { ?>
            url += '&sort=<?php echo $sort?>';
        <?php } ?>
        <?php if (!empty($sort)) { ?>
            url += '&order=<?php echo $order?>';
        <?php } ?>

        location = url;

    }

    $('input[name=\'filter_szin\']').autocomplete({
        delay: 0,
        source: function(request, response) {
            $.ajax({
                url: 'index.php?route=catalog/option_szin/autocomplete&token=<?php echo $token; ?>&filter_szin=' +  encodeURIComponent(request.term),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item.name,
                            //value: item.product_id
                            value: item.name
                        }
                    }));
                }
            });
        },
        select: function(event, ui) {
            $('input[name=\'filter_szin\']').val(ui.item.label);

            return false;
        }
    });

</script>
<?php echo $footer; ?>