<div id="tab-vatera">
    <table class="form">

        <tr>
            <td><span class="text"></span> <?php echo $vat_vazonosito; ?></td>
            <input type="hidden" name="vatvazonosito" value="<?php echo $vatvazonosito; ?>" />
            <td><input type="text" name="vatvazonosito" value="<?php echo $vatvazonosito; ?>"  size="4" disabled="disabled"/>

                <?php /*if ($error_vatvazonosito) { ?>
                    <span class="error"><?php echo $error_vatvazonosito; ?></span>
                <?php } */?>
                <span class="text" style="margin-left: 50px"><?php echo $vat_automatikus_kuldes ?></span>
                <select name="vatautomatikus" style="cursor: default">
                    <? if ($vatautomatikus == 0)   echo "<option selected value='0'>Nem";
                       else echo "<option  value='0'>Nem";

                       if ($vatautomatikus == 1)   echo "<option selected value='1'>Igen";
                       else echo "<option  value='1'>Igen";
                    ?>
                </select>
            </td>

        </tr>
        <tr>
            <td><?php echo $vat_termeknev; ?><br /></td>
            <input type="hidden" name="vattermeknev" value="<?php echo $vattermeknev; ?>"   size="34" />
            <td><input type="text"  value="<?php echo $vattermeknev; ?>" disabled="disabled"  size="34" /> </td>
        </tr>
        <tr>
            <td><?php echo $vat_product_id; ?></td>
            <input type="hidden" name="vatproductid" value="<?php echo $vatproductid; ?>"  size="4" />
            <td><input type="text" value="<?php echo $vatproductid; ?>" disabled="disabled"  size="4" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_darabszam; ?><br /><span class="help"><?php echo $vat_darabszam_help; ?></span></td>
            <input type="hidden" name="vatdarabszam" value="<?php echo $vatdarabszam; ?>"   size="4" />
            <td><input type="text" value="<?php echo $vatdarabszam; ?>" disabled="disabled"  size="4" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_alcim; ?><span class="help"><?php echo $vat_alcim_help; ?></span></td>
            <td><input type="text" name="vatalcim" value="<?php echo $vatalcim; ?>"  size="34" /></td>
        </tr>

        <tr>
            <td><?php echo $vat_kikialtasiar; ?><span class="help"><?php echo $vat_ar_help; ?></span></td>
            <td><input type="text" name="vatkikialtasiar" value="<?php echo $vatkikialtasiar; ?>"  size="6" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_minimalar; ?><span class="help"><?php echo $vat_ar_help; ?></span></td>
            <td><input type="text" name="vatminimalar" value="<?php echo $vatminimalar; ?>"  size="6"  /></td>
        </tr>

        <tr>
            <td><?php echo $vat_villamar; ?><span class="help"><?php echo $vat_villamar_help; ?></span></td>
            <td><input type="text" name="vatvillamar" value="<?php echo $vatvillamar; ?>"   size="6" /></td>
        </tr>

        <tr>
            <td><?php echo $vat_licitlepcso; ?><span class="help"><?php echo $vat_licitlepcso_help; ?></span></td>
            <td><input type="text" name="vatlicitlepcso" value="<?php echo $vatlicitlepcso; ?>" size="4"  /></td>
        </tr>
        <tr>
            <td><?php echo $vat_aukcio_inditasa; ?><span class="help"><?php echo $vat_aukcio_inditasa_help; ?></span></td>
            <td><input type="text" name="vataukcioinditasa" value="<?php echo $vataukcioinditasa; ?>"  size="14" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_aukcio_idotartam; ?><span class="help"><?php echo $vat_aukcio_idotartam_help; ?></span></td>
            <td><input type="text" name="vataukcioidotartam" value="<?php echo $vataukcioidotartam; ?>"  size="14" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_vatera_kategoria_kod; ?><span class="help"><?php echo $vat_vatera_kategoria_kod_help; ?></span></td>
            <td><input type="text" name="vatvaterakategoriakod" value="<?php echo $vatvaterakategoriakod; ?>"  size="6" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_megye; ?></td>
            <td><select name="vatmegye">

                <?  if ($vatmegye == 1) echo '<option selected value="1">Budapest';
                    else echo '<option  value="1">Budapest';
                    if ($vatmegye == 4) echo '<option selected value="4">Bács-Kiskun';
                    else echo '<option  value="4">Bács-Kiskun';
                    if ($vatmegye == 6) echo '<option selected value="6">Baranya';
                    else echo '<option  value="6">Baranya';
                    if ($vatmegye == 7) echo '<option selected value="7">Békés';
                    else echo '<option  value="7">Békés';
                    if ($vatmegye == 5) echo '<option selected value="5">Borsod-Abaúj-Zemplén';
                    else echo '<option  value="5">Borsod-Abaúj-Zemplén';
                    if ($vatmegye == 8) echo '<option selected value="8">Csongrád';
                    else echo '<option  value="8">Csongrád';
                    if ($vatmegye == 3) echo '<option selected value="3">Fejér';
                    else echo '<option  value="3">Fejér';
                    if ($vatmegye == 9) echo '<option selected value="9">Győr-Moson-Sopron';
                    else echo '<option  value="9">Győr-Moson-Sopron';
                    if ($vatmegye == 2) echo '<option selected value="2">Hajdú-Bihar';
                    else echo '<option  value="2">Hajdú-Bihar';
                    if ($vatmegye == 10) echo '<option selected value="10">Heves';
                    else echo '<option  value="10">Heves';
                    if ($vatmegye == 11) echo '<option selected value="11">Jász-Nagykun-Szolnok';
                    else echo '<option  value="11">Jász-Nagykun-Szolnok';
                    if ($vatmegye == 12) echo '<option selected value="12">Komárom-Esztergom';
                    else echo '<option  value="12">Komárom-Esztergom';
                    if ($vatmegye == 13) echo '<option selected value="13">Nógrád';
                    else echo '<option  value="13">Nógrád';
                    if ($vatmegye == 20) echo '<option selected value="20">Pest megye';
                    else echo '<option  value="20">Pest megye';
                    if ($vatmegye == 14) echo '<option selected value="14">Somogy';
                    else echo '<option  value="14">Somogy';
                    if ($vatmegye == 15) echo '<option selected value="15">Szabolcs-Szatmár-Bereg';
                    else echo '<option  value="15">Szabolcs-Szatmár-Bereg';
                    if ($vatmegye == 16) echo '<option selected value="16">Tolna';
                    else echo '<option  value="16">Tolna';
                    if ($vatmegye == 17) echo '<option selected value="17">Vas';
                    else echo '<option  value="17">Vas';
                    if ($vatmegye == 18) echo '<option selected value="18">Veszprém';
                    else echo '<option  value="18">Veszprém';
                    if ($vatmegye == 19) echo '<option selected value="19">Zala';
                    else echo '<option  value="19">Zala';
                    if ($vatmegye == 22) echo '<option selected value="22">Külföld';
                    else echo '<option  value="22">Külföld';
                ?>
                </select>
            </td>
        </tr>


        <tr>
            <td><?php echo $vat_orszag; ?></td>
            <td><select name="vatorszag">
                 <? if ($vatorszag == 506) echo '<option selected value="506">Magyarország';
                    else echo '<option  value="506">Magyarország';
                    if ($vatorszag == 508) echo '<option selected value="508">Amerikai Egyesült Államok';
                    else echo '<option  value="508">Amerikai Egyesült Államok';
                    if ($vatorszag == 510) echo '<option selected value="510">Ausztria';
                    else echo '<option  value="510">Ausztria';
                    if ($vatorszag == 509) echo '<option selected value="509">Ausztrália';
                    else echo '<option  value="509">Ausztrália';
                    if ($vatorszag == 511) echo '<option selected value="511">Belgium';
                    else echo '<option  value="511">Belgium';
                    if ($vatorszag == 512) echo '<option selected value="512">Bosznia-Hercegovina';
                    else echo '<option  value="512">Bosznia-Hercegovina';
                    if ($vatorszag == 513) echo '<option selected value="513">Bulgária';
                    else echo '<option  value="513">Bulgária';
                    if ($vatorszag == 540) echo '<option selected value="540">Ciprus';
                    else echo '<option  value="540">Ciprus';
                    if ($vatorszag == 514) echo '<option selected value="514">Csehország';
                    else echo '<option  value="514">Csehország';
                    if ($vatorszag == 515) echo '<option selected value="515">Dánia';
                    else echo '<option  value="515">Dánia';
                    if ($vatorszag == 516) echo '<option selected value="516">Dél-Afrikai Köztársaság';
                    else echo '<option  value="516">Dél-Afrikai Köztársaság';
                    if ($vatorszag == 507) echo '<option selected value="507">Egyéb ország';
                    else echo '<option  value="507">Egyéb ország';
                    if ($vatorszag == 517) echo '<option selected value="517">Franciaország';
                    else echo '<option  value="517">Franciaország';
                    if ($vatorszag == 518) echo '<option selected value="518">Görögország';
                    else echo '<option  value="518">Görögország';
                    if ($vatorszag == 519) echo '<option selected value="519">Hollandia';
                    else echo '<option  value="519">Hollandia';
                    if ($vatorszag == 520) echo '<option selected value="520">Horvátország';
                    else echo '<option  value="520">Horvátország';
                    if ($vatorszag == 539) echo '<option selected value="539">Izrael';
                    else echo '<option  value="539">Izrael';
                    if ($vatorszag == 542) echo '<option selected value="542">Jamaica';
                    else echo '<option  value="542">Jamaica';
                    if ($vatorszag == 522) echo '<option selected value="522">Japán';
                    else echo '<option  value="522">Japán';
                    if ($vatorszag == 523) echo '<option selected value="523">Jugoszlávia';
                    else echo '<option  value="523">Jugoszlávia';
                    if ($vatorszag == 505) echo '<option selected value="505">Kanada';
                    else echo '<option  value="505">Kanada';
                    if ($vatorszag == 541) echo '<option selected value="541">Kína';
                    else echo '<option  value="541">Kína';
                    if ($vatorszag == 504) echo '<option selected value="504">Lengyelország';
                    else echo '<option  value="504">Lengyelország';
                    if ($vatorszag == 538) echo '<option selected value="538">Más ország';
                    else echo '<option  value="538">Más ország';
                    if ($vatorszag == 525) echo '<option selected value="525">Nagy-Britannia';
                    else echo '<option  value="525">Nagy-Britannia';
                    if ($vatorszag == 543) echo '<option selected value="543">Norvégia';
                    else echo '<option  value="543">Norvégia';
                    if ($vatorszag == 526) echo '<option selected value="526">Németország';
                    else echo '<option  value="526">Németország';
                    if ($vatorszag == 527) echo '<option selected value="527">Olaszország';
                    else echo '<option  value="527">Olaszország';
                    ?>
                </select>
            </td>
        </tr>




        <tr>
            <td><?php echo $vat_sablon_azonosito; ?><span class="help"><?php echo $vat_sablon_azonosito_help; ?></span></td>
            <td><input type="text" name="vatsablonazonosito" value="<?php echo $vatsablonazonosito; ?>"  size="6" /></td>
        </tr>



        <tr>
            <td><?php echo $vat_ujrainditasok_szama; ?><span class="help"><?php echo $vat_ujrainditasok_szama_help; ?></span></td>
            <td><input type="text" name="vatujrainditasokszama" value="<?php echo $vatujrainditasokszama; ?>"  size="4" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_kiemelesek; ?><span class="help"><?php echo $vat_kiemelesek_help; ?></span></td>
            <td><input type="text" name="vatkiemelesek" value="<?php echo $vatkiemelesek; ?>"  size="9" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_termek_jellemzok; ?><span class="help"><?php echo $vat_termek_jellemzok_help; ?></span></td>
            <td><input type="text" name="vattermekjellemzok" value="<?php echo $vattermekjellemzok; ?>"  size="9" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_garancia; ?><span class="help"><?php echo $vat_garancia_help; ?></span></td>
            <td><input type="text" name="vatgarancia" value="<?php echo $vatgarancia; ?>"  size="2" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_elfogadas_szazalek; ?><span class="help"><?php echo $vat_elfogadas_szazalek_help; ?></span></td>
            <td><input type="text" name="vatelfogadasszazalek" value="<?php echo $vatelfogadasszazalek; ?>"  size="2" /></td>
        </tr>

        <tr>
            <td><?php echo $vat_kinezeti_sablon; ?><span class="help"><?php echo $vat_kinezeti_sablon_help; ?></span></td>
            <td><input type="text" name="vatkinezetisablon" value="<?php echo $vatkinezetisablon; ?>"  size="4" /></td>
        </tr>

        <tr>
            <td><?php echo $vat_kategoria_specifikus; ?><span class="help"><?php echo $vat_kategoria_specifikus_help; ?></span></td>
            <td><input type="text" name="vatkategoriaspecifikus" value="<?php echo $vatkategoriaspecifikus; ?>"  size="34" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_leiras; ?><span class="help"><?php echo $vat_leiras_help; ?></span></td>
            <td><textarea  name="vatleiras" style="width: 400px; height: 50px; border: 2px inset #eee;"><?php echo $vatleiras; ?></textarea> </td>
        </tr>

        <tr>
            <td><?php echo $vat_kepek1; ?></td>
            <input type="hidden" name="vatkepek1" value="<?php echo $vatkepek1; ?>" />
            <td><input type="text"  value="<?php echo $vatkepek1; ?>" disabled="disabled"  size="34"  /></td>
        </tr>
        <tr>
            <td><?php echo $vat_kepek2; ?></td>
            <input type="hidden" name="vatkepek2" value="<?php echo $vatkepek2; ?>" />
            <td><input type="text"  value="<?php echo $vatkepek2; ?>" disabled="disabled"   size="34"  /></td>
        </tr>
        <tr>
            <td><?php echo $vat_kepek3; ?></td>
            <input type="hidden" name="vatkepek3" value="<?php echo $vatkepek3; ?>" />
            <td><input type="text"  value="<?php echo $vatkepek3; ?>" disabled="disabled"   size="34" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_kepek4; ?></td>
            <input type="hidden" name="vatkepek4" value="<?php echo $vatkepek4; ?>" />
            <td><input type="text"  value="<?php echo $vatkepek4; ?>" disabled="disabled"   size="34" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_kepek5; ?></td>
            <input type="hidden" name="vatkepek5" value="<?php echo $vatkepek5; ?>" />
            <td><input type="text"  value="<?php echo $vatkepek5; ?>" disabled="disabled"   size="34" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_kepek6; ?></td>
            <input type="hidden" name="vatkepek6" value="<?php echo $vatkepek6; ?>" />
            <td><input type="text"  value="<?php echo $vatkepek6; ?>" disabled="disabled"   size="34" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_kepek7; ?></td>
            <input type="hidden" name="vatkepek7" value="<?php echo $vatkepek7; ?>" />
            <td><input type="text"  value="<?php echo $vatkepek7; ?>" disabled="disabled"   size="34" /></td>
        </tr>
        <tr>
            <td><?php echo $vat_kepek8; ?></td>
            <input type="hidden" name="vatkepek8" value="<?php echo $vatkepek8; ?>" />
            <td><input type="text"  value="<?php echo $vatkepek8; ?>" disabled="disabled"   size="34" /></td>
        </tr>




    </table>
</div>
