/*html body #content .product-info .pricealert-attention  {
    background: #FFF5CC;
    border: 1px solid #F2DD8C;
    margin-bottom: 5px;
    padding: 10px;
	color: #555555;
	cursor: pointer;
}*/

/* POPUP style */
/*	--------------------------------------------------
	Price Alert Modals
	-------------------------------------------------- */

html body #content .product-info 	.pricealert-modal-bg {
		position: fixed;
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 1000;
		display: none;
		top: 0;
		left: 0;
		}

html body #content .product-info 	.pricealert-modal {
		visibility: hidden;
		top: 100px !important;
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #FFFFFF;
		position: fixed;
		z-index: 1001;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}

html body #content .product-info 	.pricealert-modal.small 		{ width: 200px; margin-left: -140px;}
html body #content .product-info 	.pricealert-modal.medium 		{ width: 400px; margin-left: -240px;}
html body #content .product-info 	.pricealert-modal.large 		{ width: 600px; margin-left: -340px;}
html body #content .product-info 	.pricealert-modal.xlarge 		{ width: 800px; margin-left: -440px;}

html body #content .product-info 	.pricealert-modal .close-pricealert-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #666;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		text-decoration: none;
		cursor: pointer;
		}  

/* other elements */


html body #content .product-info .pricealert-modal .buttons{
	border: none !important;
	margin-bottom: 0px !important;
}


html body #content .product-info .pricealert-button {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    padding: 4px 12px;
	margin-left: 5px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	text-decoration: none;
    vertical-align: middle;
}

html body #content .product-info #pricealert-explain-info {
	margin-bottom: 20px;
	color: #333;
}

html body #content .product-info #pricealert-explain-info p {
	margin-bottom: 5px;
}

html body #content .product-info #pricealert-info-form {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	padding: 15px 0;
}

html body #content .product-info #pricealert-info-form  .form {
	margin-bottom: 0;
}

/* small resolutions */
@media only screen and (min-width: 490px) and (max-width: 600px) {
    html body #content .product-info .pricealert-modal {
		width: 400px;
		margin-left: -240px;
	}
}

@media only screen and (max-width: 489px) {
    html body #content .product-info .pricealert-modal {
		width: 250px;
		margin-left: -165px;
	}

    html body #content .product-info .pricealert-modal table.form td {
		width: 100% !important;
	}
}